.nodesto {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 14px;
}

.dnd5e .form-header {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 12px;
}

.dnd5e.sheet .sheet-header {
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 14px;
}

.dnd5e.sheet .sheet-navigation {
  font-family: "Myriad Pro", "Arial", serif;
  font-weight: bold;
  font-size: 14px;
}

.dnd5e.sheet.actor ul.attributes li.attribute {
  font-family: "Minion Pro", "Georgia", serif;
  font-size: 12px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 11px;
}
.dnd5e.sheet.actor .ability-scores {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 12px;
}
.dnd5e.sheet.actor .counters .counter h4 {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 11px;
}
.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 12px;
}
.dnd5e.chat-card .card-header h3 {
  font-family: "Myriad Pro", "Arial", serif;
  font-size: 14px;
}

.dnd5e.sheet.actor h4.box-title {
  font-family: "Myriad Pro", "Arial", serif;
  font-weight: bold;
  font-size: 12px;
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
  font-size: 11px;
}

.dnd5e.sheet.actor.character ul.skills-list {
  font-size: 11px;
}

.dnd5e label.checkbox {
  font-size: 10px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
  font-size: 16px;
}

.dnd5e.sheet.actor .counters .counter .counter-value {
  flex: 0 0 20px;
}