@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

.nodesto {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 14px;
}


/* DUNGEONS AND DRAGONS 5 */

.dnd5e.sheet .window-content {
    font-size: 14px;
}

.dnd5e .form-header {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.dnd5e.sheet .sheet-header {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
}

.dnd5e.sheet .sheet-header h1 input {
    height: 40px;
    font-size: 32px;
}

.dnd5e.sheet .sheet-navigation {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.dnd5e.sheet.actor ul.attributes li.attribute {
    font-family: 'Vollkorn', serif;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.dnd5e.sheet.actor .counters .counter h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.dnd5e.chat-card .card-header h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.dnd5e.sheet.actor h4.box-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
	font-size: 14px;
}

.dnd5e.sheet.actor .sheet-header .summary {
    font-size: 16px;
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
    font-size: 14px;
}

.dnd5e.sheet.actor.character ul.skills-list {
    font-size: 12px;
}

.dnd5e label.checkbox {
    font-size: 10px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
    font-size: 16px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp>label {
    font-size: 24px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level input {
    font-size: 24px;
}

.dnd5e.sheet.actor .inventory-list .item-detail {
    font-size: 12px;
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
    font-size: 12px;
}

/* PATHFINDER 1 */

.pf1.sheet .window-content {
    font-size: 14px;
}

.pf1 .form-header {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.pf1.sheet .sheet-header {
    font-family: 'Vollkorn', serif;
    font-size: 14px;
}

.pf1.sheet .sheet-header h1 input {
    height: 40px;
    font-size: 32px;
}

.pf1.sheet .sheet-navigation {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.pf1.sheet.actor ul.attributes li.attribute {
    font-family: 'Vollkorn', serif;
    margin: 0 3px;
}

.pf1.sheet.actor ul.attributes li.attribute .attribute-footer {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.pf1.sheet.actor .counters .counter h4 {
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
    font-size: 12px;
}

.pf1.sheet.actor .inventory-filters h3,
.pf1.sheet.actor .inventory-filters .filter-title {
    font-family: 'Oswald', sans-serif;;
    font-size: 12px;
}

.pf1.chat-card .card-header h3 {
    font-family: 'Oswald', sans-serif;;
    font-size: 14px;
}

.pf1.sheet.actor h4.box-title {
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
    font-size: 12px;
}

.pf1.sheet.actor.character ul.skills-list li.skill h4 {
    font-size: 12px;
}

.pf1.sheet.actor.character ul.skills-list {
    font-size: 12px;
}

.pf1 label.checkbox {
    font-size: 10px;
}

.pf1.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
    font-size: 16px;
}

.pf1.sheet.actor .sheet-header .charlevel .level.noxp>label {
    font-size: 24px;
}

.pf1.sheet.actor .sheet-header .charlevel .level input {
    font-size: 24px;
}

.pf1.sheet.actor .counters .counter {
    padding: 0 3px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
}

.pf1.sheet.actor.character .counters .death-saves {
    flex: 1;
}

.pf1.sheet.actor .inventory-list .item-detail {
    font-size: 12px;
}

.pf1.sheet.actor .spell-school,
.pf1.sheet.actor .spell-action,
.pf1.sheet.actor .spell-target {
    font-size: 12px;
}

.pf1.sheet.actor.character .attributes .resource label.checkbox {
    margin: 0px;
}


/* 13TH AGE */

#chat-log .message {
    font-family: 'Oswald', sans-serif;;
}

#chat-log .card-header {
    font-family: 'Vollkorn', serif;
}

.ability-usage {
    background: #2f3640 !important;
}

.ability-usage--at-will {
    background: #004D40 !important;
}

.ability-usage--once-per-battle {
    background: #BF360C !important;
}

.ability-usage--daily {
    background: #607D8B !important;
}

.ability-usage--recharge {
    background: #0D47A1 !important;
}

.ability-usage--other {
    background: #4527A0 !important;
}

.archmage.sheet,
.archmage.actor-sheet .primary-attributes .attribute .attribute-value,
.archmage .abilities .ability .ability-score>input,
.archmage .abilities .ability .ability-lvl,
.archmage-escalation {
    font-family: 'Vollkorn', serif;
}

.archmage.sheet h1,
.archmage.sheet h2,
.archmage.sheet h3,
.archmage.sheet h4,
.archmage.actor-sheet .sheet-header .charname>input,
.archmage.actor-sheet .sheet-header .charlevel .level,
.archmage.actor-sheet .details .character-detail .attribute-label,
.archmage.actor-sheet .primary-attributes .attribute .attribute-name,
.archmage.actor-sheet .statuses .status h4,
.class-list .item .class-levels,
.class-header h3,
.archmage .abilities .ability-name,
.archmage .abilities .ability-header,
.archmage.actor-sheet .details .character-detail>input,
.archmage-escalation::after,
.archmage.actor-sheet.npc-sheet .charlevel .initiative,
.class-list .item .class-name,
.archmage.actor-sheet .details .character-detail .attribute-label {
    font-family: 'Vollkorn', serif;
}

.inventory-list .item .item-action--standard::before {
    content: 'Обыч';
}

.inventory-list .item .item-action--move::before {
    content: 'Движ';
}

.inventory-list .item .item-action--quick::before {
    content: 'Быст';
}

.inventory-list .item .item-action--free::before {
    content: 'Своб';
}


/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
    max-width: 200px;
}