<label>
    {{ localize "ru.dnd5e.aa.hint" }}
</label>
<div class="form-group">
    <button type="button">
        <i class="fas fa-cogs"></i>
        <label>{{ localize "ru.dnd5e.aa.button" }}</label>
    </button>
</div>