:root {
	--font-primary: "Noto Sans", "Arial", sans-serif;
	--font-sans: "Noto Sans", "Arial", sans-serif;
	--font-sans-condensed: "Fira Sans Extra Condensed", sans-serif;
	--font-serif: "Noto Serif", "Georgia", "Times New Roman", serif;
	--font-fancy: "Beaufort", serif;
	--font-elegant: "Montserrat", sans-serif;
	--font-pirate: "Manuskript", fantasy;
	--font-mono: "Noto Sans Mono", "Consolas", "Courier New", monospace;
	--font-cursive: "Marck Script", "Lucida Handwriting", cursive;
	--font-sci-fi: "OCR-A", monospace;

	--font-h1: var(--font-fancy);
	--font-h2: var(--font-serif);
	--font-body: var(--font-sans);

	--text-xs: 0.8rem;
	--text-sm: 0.85rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
	--text-7xl: 4.5rem;
	--text-8xl: 6rem;
}

/* Fira Sans Extra Condensed */

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 300;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-LightItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 500;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-MediumItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 600;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: italic;
	font-weight: 900;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BlackItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBold.ttf")
		format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Fira Sans Extra Condensed";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Black.ttf") format("truetype");
}

/* Noto Sans */

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 300;
	src: url("./fonts/Noto_Sans/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 500;
	src: url("./fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 600;
	src: url("./fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 900;
	src: url("./fonts/Noto_Sans/NotoSans-BlackItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/Noto_Sans/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
}

/* Noto Serif */

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

/* Noto Sans Mono */

@font-face {
	font-family: "Noto Sans Mono";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans Mono";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Bold.ttf") format("truetype");
}

/* Montserrat */

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Italic.ttf");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-MediumItalic.ttf");
	font-style: italic;
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-BoldItalic.ttf");
	font-style: italic;
	font-weight: 700;
}

/* Beaufort */

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-MediumItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("./fonts/Beaufort/Beaufort-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* MISC  */

@font-face {
	font-family: "Manuskript";
	src: url("./fonts/Manuskript.ttf") format("truetype");
}

@font-face {
	font-family: "OCR-A";
	src: url("./fonts/Ocra.otf") format("opentype");
}

@font-face {
	font-family: "GWENT";
	src: url("./fonts/GWENT.ttf") format("truetype");
}

@font-face {
	font-family: "Exocet";
	src: url("./fonts/Exocet.ttf") format("truetype");
}

/* REPLACEMENTS  */

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 300;
	src: url("./fonts/Noto_Sans/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 400;
	src: url("./fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 500;
	src: url("./fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 600;
	src: url("./fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 700;
	src: url("./fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 900;
	src: url("./fonts/Noto_Sans/NotoSans-BlackItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 300;
	src: url("./fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/Noto_Sans/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 900;
	src: url("./fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Modesto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Modesto.ttf") format("truetype");
}

@font-face {
	font-family: "Modesto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/Modesto.ttf") format("truetype");
}

@font-face {
	font-family: "Marck Script";
	src: url("./fonts/MarckScript.ttf") format("truetype");
}

@font-face {
	font-family: "Nodesto";
	src: url("./fonts/Modesto.ttf") format("truetype");
}

@font-face {
	font-family: "Primitive";
	src: url("./fonts/Manuskript.ttf") format("truetype");
}

@font-face {
	font-family: "Fondamento";
	src: url("./fonts/Beaufort/Beaufort-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Jim Nightshade";
	src: url("./fonts/MarckScript.ttf") format("truetype");
}

.nodesto,
.modesto {
	font-family: "Modesto Condensed";
}
