/* CYRILLIC FONTS */

/* Roboto Condensed */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Black.woff2") format("woff2");
}

/* Roboto Sans */
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Roboto_Sans/Roboto-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Roboto_Sans/Roboto-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Roboto_Sans/Roboto-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Roboto_Sans/Roboto-Black.woff2") format("woff2");
}

/* Roboto Serif */
@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Roboto_Serif/RobotoSerif-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Roboto_Serif/RobotoSerif-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Roboto_Serif/RobotoSerif-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Serif/RobotoSerif-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Roboto_Serif/RobotoSerif-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Bold.woff2") format("woff2");
}

/* Beaufort */
@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Beaufort";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

/* Extras */
@font-face {
	font-family: "Manuskript";
	src: url("../fonts/Manuskript.woff2") format("woff2");
}

@font-face {
	font-family: "OCR-A";
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: "GWENT";
	src: url("../fonts/GWENT.woff2") format("woff2");
}

@font-face {
	font-family: "Exocet";
	src: url("../fonts/Exocet.woff2") format("woff2");
}

/* Replacements  */
@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Roboto_Sans/Roboto-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Roboto_Sans/Roboto-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Roboto_Sans/Roboto-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Signika";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Roboto_Sans/Roboto-Black.woff2") format("woff2");
}

@font-face {
	font-family: "Modesto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Modesto.woff2") format("woff2");
}

@font-face {
	font-family: "Modesto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Modesto.woff2") format("woff2");
}

@font-face {
	font-family: "Marck Script";
	src: url("../fonts/MarckScript.woff2") format("woff2");
}

@font-face {
	font-family: "Nodesto";
	src: url("../fonts/Modesto.woff2") format("woff2");
}

@font-face {
	font-family: "Primitive";
	src: url("../fonts/Manuskript.woff2") format("woff2");
}

@font-face {
	font-family: "Fondamento";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Jim Nightshade";
	src: url("../fonts/MarckScript.woff2") format("woff2");
}

@font-face {
	font-family: "Bruno Ace";
	src: url("../fonts/Ocra.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Bruno Ace SC";
	src: url("../fonts/Ocra.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

/* Variables */
:root {
	--font-primary: "Roboto", "Arial", sans-serif;
	--font-sans: "Roboto", "Arial", sans-serif;
	--font-sans-condensed: "Roboto Condensed", sans-serif;
	--font-serif: "Roboto Serif", "Georgia", "Times New Roman", serif;
	--font-slab: "Roboto", "Arial", sans-serif;
	--font-cursive: "Marck Script", "Lucida Handwriting", cursive;
	--font-monospace: "Consolas", monospace;
	--font-fancy: "Beaufort", serif;
	--font-pirate: "Manuskript", fantasy;
	--font-sci-fi: "OCR-A", monospace;
	--font-modesto: "Modesto Condensed", serif;

	--font-size-10: 0.625rem;
	--font-size-11: 0.6875rem;
	--font-size-12: 0.75rem;
	--font-size-13: 0.8125rem;
	--font-size-14: 0.875rem;
	--font-size-15: 0.9375rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
	--font-size-20: 1.25rem;
	--font-size-24: 1.5rem;
	--font-size-28: 1.75rem;
	--font-size-32: 2rem;
	--font-size-36: 2.25rem;
	--font-size-48: 3rem;
	--font-size-64: 4rem;
	--font-size-80: 5rem;

	--font-body: var(--font-sans);
	--font-blockquote: var(--font-serif);
	--font-h1: var(--font-modesto);
	--font-h2: var(--font-fancy);
	--font-h3: var(--font-sans);
	--font-h4: var(--font-fancy);
	--font-h5: var(--font-sans);
	--font-h6: var(--font-sans);
}

/* Copy root vars to body for better compatibility with some systems */
body {
	--font-primary: "Roboto", "Arial", sans-serif;
	--font-sans: "Roboto", "Arial", sans-serif;
	--font-sans-condensed: "Roboto Condensed", sans-serif;
	--font-serif: "Roboto Serif", "Georgia", "Times New Roman", serif;
	--font-cursive: "Marck Script", "Lucida Handwriting", cursive;
	--font-monospace: "Consolas", monospace;
	--font-fancy: "Beaufort", serif;
	--font-pirate: "Manuskript", fantasy;
	--font-sci-fi: "OCR-A", monospace;
	--font-modesto: "Modesto Condensed", serif;

	--font-size-10: 0.625rem;
	--font-size-11: 0.6875rem;
	--font-size-12: 0.75rem;
	--font-size-13: 0.8125rem;
	--font-size-14: 0.875rem;
	--font-size-15: 0.9375rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
	--font-size-20: 1.25rem;
	--font-size-24: 1.5rem;
	--font-size-28: 1.75rem;
	--font-size-32: 2rem;
	--font-size-36: 2.25rem;
	--font-size-48: 3rem;
	--font-size-64: 4rem;
	--font-size-80: 5rem;

	--font-body: var(--font-sans);
	--font-blockquote: var(--font-serif);
	--font-h1: var(--font-modesto);
	--font-h2: var(--font-fancy);
	--font-h3: var(--font-sans);
	--font-h4: var(--font-fancy);
	--font-h5: var(--font-sans);
	--font-h6: var(--font-sans);
}

body.theme-scifi {
	--font-h2: var(--font-sci-fi);
	--font-h4: var(--font-sci-fi);
	--font-h6: var(--font-sci-fi);
}

.nodesto,
.modesto {
	font-family: var(--font-modesto);
}
