/* FOUNDRY */

button,
form .form-group label,
.tabs .item,
.application nav.tabs {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

button {
	line-height: auto;
}

select,
.header-button,
.window-header,
.playlist-sounds,
.updated-packages-table th.action,
.updated-packages-table td.action,
.compendium-sidebar .dropdown-menu .dropdown-list .dropdown-item,
.context-item {
	font-family: var(--font-sans-condensed);
}

form .form-group label {
	line-height: 18px;
	line-height: normal;
}

body.auth #main-header h1 {
	font-size: 3rem;
}

#setup-sidebar .news > h3 {
	font-size: var(--text-xl);
}

.setup .form-group label {
	font-size: var(--text-base);
}

.package-list .package .package-controls button {
	width: 130px;
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
	line-height: 20px;
}

.journal-sheet .editor-content {
	font-size: var(--text-base);
}

.directory .directory-list .directory-item {
	font-size: var(--text-sm);
}

.key,
.show-title,
.filepicker .favorites .label,
.active-effect-sheet .effects-header {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.sheet.journal-entry-page .journal-header .page-level {
	flex: 0 0 130px;
	margin-left: 0.4rem;
}

.filepicker .favorites .label {
	flex: 2;
}

.updated-packages :is(.header, .result) > div {
	padding: 0.5rem 0.3rem;
}

.updated-packages .action {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	flex: 0 0 135px;
}

.updated-packages .package {
	flex: 0 0 240px;
}

.updated-packages-table th.package,
.updated-packages-table td.package {
	width: 200px;
	padding: 0.5rem;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
	width: 135px;
	padding: 0.5rem;
}

.updated-packages-table th.description,
.updated-packages-table td.description {
	padding: 0.5rem;
}

.compendium-sidebar .dropdown-menu .dropdown-list {
	padding: 6px;
}

.toolclip {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-base);
}

#menu #menu-items {
	&h4 {
		font-family: var(--font-sans-condensed);
		font-size: 1.5rem !important;
		font-weight: 500 !important;
	}
}

/* MODULES */

#AA-autorec-settings .window-content header ul li {
	font-family: var(--font-sans-condensed);
	font-weight: 600;
	font-size: var(--text-sm);
}

.compendium-browser .spell-browser .spell .spell-tags {
	max-width: 200px;
}

.monks-tokenbar.chat-card .card-header h3 {
	font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
	font-family: var(--font-serif);
}

.encounter-cr {
	font-family: var(--font-sans-condensed);
}

.request-roll {
	font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
	font-family: var(--font-sans-condensed);
}

.storyteller-tooltip {
	font-family: var(--font-serif);
}

.monks-active-tiles.sheet .items-list .items-header h3,
.monks-active-tiles.sheet .items-list .items-header > * {
	font-family: var(--font-sans-condensed) !important;
}

.effect-player-container {
	font-family: var(--font-sans-condensed);
}
