@font-face {
	font-family: "Quadrant-Regular";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2");
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Roboto_Serif/RobotoSerif-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Roboto_Serif/RobotoSerif-Italic.woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Roboto_Serif/RobotoSerif-Bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Roboto_Serif/RobotoSerif-BoldItalic.woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "PompeiStd";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2");
}

@font-face {
	font-family: "PompeiStd";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2");
	font-weight: bold;
}

.counter h3 {
	font-family: var(--font-fancy);
}

.skill-label {
	margin-left: 2px;
}

.item .content-row .skill-selection > * {
	margin-left: 16px;
}

#menu #menu-items li h4 {
	font-weight: 600;
}

.age-of-sigmar-soulbound.sheet .tabs .item {
	font-family: var(--font-fancy);
	font-weight: 500;
}
