@font-face {
	font-family: "Quadrant-Regular";
	src: url("../fonts/Beaufort/Beaufort-Medium.ttf");
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "MinionPro";
	src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "PompeiStd";
	src: url("../fonts/Beaufort/Beaufort-Regular.ttf");
}

@font-face {
	font-family: "PompeiStd";
	src: url("../fonts/Beaufort/Beaufort-Bold.ttf");
	font-weight: bold;
}

.counter h3 {
	font-family: var(--font-fancy);
}

.skill-label {
	margin-left: 2px;
}

.item .content-row .skill-selection > * {
	margin-left: 16px;
}

#menu #menu-items li h4 {
	font-weight: 600;
}

.age-of-sigmar-soulbound.sheet .tabs .item {
	font-family: var(--font-fancy);
	font-weight: 500;
}
