.age-system .sheet label,
.age-system .sheet a,
.age-system .sheet nav,
.age-system .sheet h1,
.age-system .sheet h2,
.age-system .sheet h3,
.age-system .sheet h4 {
	font-family: var(--font-sans-condensed) !important;
}

.age-system .sheet .system-operator {
	margin-left: 2px;
	margin-right: 2px;
}
