.archmage-v2 {
	font-family: var(--font-serif);
}

.archmage-v2 input[type="text"],
.archmage-v2 input[type="number"] {
	font-family: var(--font-serif);
}

.archmage-v2 button {
	font-family: var(--font-sans-condensed);
}

.archmage-v2 h1,
.archmage-v2 h2,
.archmage-v2 h3,
.archmage-v2 h4 {
	font-family: var(--font-serif);
}

.archmage-v2 .unit-title {
	font-family: var(--font-serif);
	font-weight: bold;
	font-size: 16px;
}

.archmage-v2 .rollable--init {
	font-family: var(--font-serif);
}

.archmage-v2 .section--tabs .tab-link {
	font-family: var(--font-serif);
}

.archmage-v2 .resource .resource-max {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .character-header input[type="text"],
.archmage-v2.sheet .character-header input[type="number"] {
	font-family: var(--font-serif);
}

.archmage .abilities .ability-name,
.archmage .abilities .ability-header {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--abilities .ability-name {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--abilities .ability-mod,
.archmage-v2.sheet .section--abilities .ability-lvl {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--attributes .unit--defenses .defense-value {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--attributes .unit--defenses .unit-subtitle {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--resources input.resource-title-input {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--powers .power-grid .power-name {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--powers .power-summary--trigger .power-trigger {
	font-family: var(--font-serif);
}

.archmage-v2.sheet .section--inventory .equipment-grid .equipment-name {
	font-family: var(--font-serif);
}

.archmage-v2 .rollable {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14);
}

#chat-log .card-header {
	font-family: var(--font-serif);
}

#chat-log .message {
	font-family: var(--font-serif);
}

.archmage.sheet {
	font-family: var(--font-serif);
}

.archmage.sheet h1,
.archmage.sheet h2,
.archmage.sheet h3,
.archmage.sheet h4 {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .sheet-header .charname > input {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .sheet-header .charlevel .level {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .details .character-detail > input,
.archmage.actor-sheet .details .character-detail .attribute-label {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .primary-attributes .attribute .attribute-name {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .primary-attributes .attribute .attribute-display,
.archmage.actor-sheet .primary-attributes .attribute .attribute-value {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .primary-attributes .attribute .attribute-value {
	font-family: var(--font-serif);
}

.archmage.actor-sheet .statuses .status h4 {
	font-family: var(--font-serif);
}

.archmage .abilities .ability .ability-score > input {
	font-family: var(--font-serif);
}

.archmage .abilities .ability .ability-mod,
.archmage .abilities .ability .ability-lvl {
	font-family: var(--font-serif);
}

.class-header h3 {
	color: #333;
	font-family: var(--font-serif);
	font-size: 18px;
	margin: 0;
	text-align: center;
}

.class-list .item .class-levels {
	font-family: var(--font-serif);
}

.class-list .item .class-name {
	font-family: var(--font-serif);
}

.archmage.sheet.actor-sheet .textarea {
	font-family: var(--font-serif);
}

.archmage.actor-sheet.npc-sheet .charlevel .initiative {
	font-family: var(--font-serif);
}

.archmage-escalation {
	font-family: var(--font-serif);
}

.archmage-escalation::after {
	content: "Кость эскалации";
	font-family: var(--font-serif);
}

.compendium .directory-list--archmage h3.entry-group {
	font-family: var(--font-serif);
}

.compendium .directory-list--archmage .directory-item {
	font-family: var(--font-serif);
}

.compendium .directory-list--archmage .directory-item h4.entry-name a {
	font-family: var(--font-serif);
}

.archmage-prepopulate button.cancel,
.archmage-prepopulate button.submit {
	font-family: var(--font-sans-condensed);
}

.archmage-prepopulate-tabs .tabs > .item {
	font-family: var(--font-sans-condensed);
}

table {
	font-family: var(--font-serif);
}
