@font-face {
	font-family: "Kirsty";
	src: url("../fonts/Kirsty/Kirsty.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Kirsty";
	src: url("../fonts/Kirsty/KirstyBold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Kirsty";
	src: url("../fonts/Kirsty/KirstyBoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Kirsty";
	src: url("../fonts/Kirsty/KirstyItalic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-DemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Crimson Text";
	src: url("../fonts/Vollkorn/Vollkorn-DemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

.blades-alt.actor.sheet.pc.sheet-wrapper.minimized-view.attributes-actions.attribute.action.attribute-skill-label {
	font-weight: bold;
	font-variant: small-caps;
	padding: 3px 0;
	margin-left: 0.4em;
	line-height: 0.8em;
	letter-spacing: -1px;
}

.blades-alt.actor.sheet.pc.sheet-wrapper.tab-space.tab-content.tab.playbook.abilities.ability-list
	> label {
	margin: 0;
	line-height: 0.8em;
	font-size: 1.2em;
	margin-bottom: 6px;
	padding-right: 1em;
}

.blades-alt.actor.sheet.pc.sheet-wrapper.tab-space.tab-content.tab.playbook.abilities.ability-list
	> label.ability-name {
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: -1px;
}

.blades-alt.actor.sheet.pc.sheet-wrapper.tab-space.tab-item.playbook-description {
	font-family: "Crimson Text", serif;
	font-size: 0.4em;
	font-variant: small-caps;
	font-weight: bold;
	color: #666;
	text-align: center;
	letter-spacing: -0.5px;
}
