@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira Sans Extra Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Rift Bold";
  src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("../fonts/Beaufort/Beaufort-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("../fonts/Beaufort/Beaufort-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-size-12: 0.9rem;
}
