@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "PT Serif";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "PT Serif";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Serif/RobotoSerif-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Rubik";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Sans/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Rubik";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Roboto_Sans/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Rift Bold";
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Averia Serif Libre";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Averia Serif Libre";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

:root {
	--font-size-12: 0.9rem;
}
