@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-BlackItalic.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
