@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Light.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "customChatFont";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Roboto_Sans/Roboto-Black.woff2") format("woff2");
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "customSheetFont";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}