.crucible {
  --font-h1: var(--font-fancy);
  --font-h2: var(--font-fancy);
  --font-h3: var(--font-fancy);
  --font-body: var(--font-serif);
  --font-quote: var(--font-fancy);
  --font-sans: var(--font-sans);
}

.selection-menu {
  grid-template-columns: none;
}

.crucible-fullscreen #hero-creation-nav li.step {
  font-size: 1em;
}