@font-face {
	font-family: Aldo the Apache;
	src: url("../fonts/Kirsty/KirstyBold.woff2") format("woff2");
}

@font-face {
	font-family: LDFComicSans;
	src: url("../fonts/L5R/BadComic.woff2") format("woff2");
}

@font-face {
	font-family: Nouveau IBM;
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: "Papyrus";
	src: url("../fonts/MarckScript.woff2") format("woff2");
}

@font-face {
	font-family: Scanlines;
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: UAV OSD Sans Mono;
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: "QuanPixel 8px";
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: "CY VTT test font 1.2";
	src: url("../fonts/Ocra.woff2") format("woff2");
}

@font-face {
	font-family: "Hohenzollern";
	src: url("../fonts/Hohenzollern.woff2") format("woff2");
}

.font1 {
	font-family: var(--font-sans-condensed);
}

.font2 {
	font: var(--font-serif);
}

.font7 {
	font-family: "Hohenzollern", var(--font-sans-condensed);
}

.font8 {
	font-family: var(--font-sci-fi);
}

.font11 {
	font-family: var(--font-fancy);
}

.cy.sheet section.window-content .sheet-button.big-button,
.cy.sheet section.window-content nav.sheet-tabs.tabs a.item {
	font-size: 10px;
}

.cy.sheet.actor.character
	section.window-content
	.sheet-header
	.right-col
	.ability-row
	.ability-icon
	a
	.ability-label {
	text-align: center;
	font-size: 10px;
}

.cy.sheet section.window-content .field-row .field-label,
.cy.sheet section.window-content .sheet-button,
.cy.sheet section.window-content .sheet-button.medium-button {
	font-size: 12px;
}
