.actor-sheet,
.container-sheet,
.item-sheet,
.bice-sheet,
.demon-sheet,
.mook-sheet,
.mook-sheet-limited {
	font-family: var(--font-sans-condensed);
}
#pause .pause-glitch {
	font-family: var(--font-sans-condensed);
}
.chat-message.message.flexcol {
	font-family: var(--font-sans);
}
.block-label {
	font-weight: 500;
}
.text-lighter {
	font-weight: 300;
}
.text-bold {
	font-weight: 600;
}

.text-small {
	font-size: var(--font-size-14);
}

.items-list {
	font-family: var(--font-sans-condensed);
}

.handle-block,
.role-block,
.hitpoint-block,
.deathsave-block,
.humanity-block,
.stat-block,
.text-normal {
	font-size: var(--font-size-14);
}
.tab-label {
	font-weight: 600;
}

.bice-head .width-long,
.bice-top .width-long,
.bice-val .width-long {
	flex-basis: 12%;
}

.weapon-grid {
	grid-template-columns: 0.5fr 2fr 1fr 1fr;
}
