.dcc .window-content,
.journal-sheet,
.journal-sheet div.editor-content {
	font-family: var(--font-fancy);
	font-size: 16px;
}

.dcc .window-content label,
.dcc .weapons-heading,
.dcc .armor-heading,
.dcc .item-heading,
.dcc .skills-container > div label,
.table-draw .spell-check-mod .critical,
.table-draw .spell-check-mod .fumble,
.table-description h1,
.journal-sheet h1,
.journal-sheet h2,
.journal-sheet form input[name="name"] {
	font-family: var(--font-fancy);
	font-weight: bold;
}

.dcc .skills-container > div label {
	font-size: 16px;
}

.dcc .action-dice,
.dcc .crit-table {
	font-size: 12px;
}

.dcc .armor-list-header,
.dcc .weapon-list-header,
.dcc .item-list-header,
.dcc .resource-label {
	font-family: var(--font-sans-condensed) !important;
	font-weight: medium !important;
}

.dcc .combat-basics .action-dice {
	flex: 0 0 84px;
}

.dcc.sheet.actor .saving-throws .save {
	display: flex;
}

.dcc.sheet.actor .save-name {
	flex: 1 1 0%;
}

.dcc .resource {
	display: flex;
	flex-direction: column;
}

.dcc.item .sheet-body .mercurial-effect-heading h1 {
	font-family: var(--font-fancy);
	font-weight: bold;
	font-size: 18px;
}

.chat-message .table-draw .table-description {
	color: var(--color-text-dark-primary);
}
