@font-face {
	font-family: "atwriter";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype") !important;
}

@font-face {
	font-family: TypeWriterCondensed;
	font-weight: 400;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Medium.ttf")
		format("truetype") !important;
}

@font-face {
	font-family: TypeWriterCondensed;
	font-weight: 600;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBold.ttf")
		format("truetype") !important;
}

@font-face {
	font-family: TypeWriterCondensed;
	font-weight: 700;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf") format("truetype") !important;
}

@font-face {
	font-family: "SpecialElite";
	src: url("../fonts/Ocra.otf") format("opentype") !important;
}

@font-face {
	font-family: "PublicSans";
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
		format("truetype") !important;
}

.typewriter-condensed-font {
	font-family: "TypeWriterCondensed", sans-serif !important;
}

.martel-font {
	font-family: "Martel", sans-serif !important;
}

.signika-font {
	font-family: "Signika", sans-serif !important;
}

.atwriter-font {
	font-family: "atwriter", sans-serif !important;
}

.special-elite-font {
	font-family: "SpecialElite", sans-serif !important;
}

.public-sans-font {
	font-family: var(--font-sans-condensed) !important;
}

.outlaw-style,
.program-style {
	font-family: var(--font-sans-condensed) !important;
}
