@font-face {
	font-family: "atwriter";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Italic.woff2") format("woff2") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-BoldItalic.woff2") format("woff2") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Regular.woff2") format("woff2") !important;
}

@font-face {
	font-family: "atwriter";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Bold.woff2") format("woff2") !important;
}

@font-face {
	font-family: typewritercondensed;
	font-weight: 400;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Medium.woff2") format("woff2") !important;
}

@font-face {
	font-family: typewritercondensed;
	font-weight: 600;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBold.woff2") format("woff2") !important;
}

@font-face {
	font-family: typewritercondensed;
	font-weight: 700;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2") !important;
}

@font-face {
	font-family: "SpecialElite";
	src: url("../fonts/Ocra.woff2") format("woff2") !important;
}

@font-face {
	font-family: "PublicSans";
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2") !important;
}

.typewriter-condensed-font {
	font-family: "TypeWriterCondensed", sans-serif !important;
}

.martel-font {
	font-family: "Martel", sans-serif !important;
}

.signika-font {
	font-family: "Signika", sans-serif !important;
}

.atwriter-font {
	font-family: "atwriter", sans-serif !important;
}

.special-elite-font {
	font-family: "SpecialElite", sans-serif !important;
}

.public-sans-font {
	font-family: var(--font-sans-condensed) !important;
}

.outlaw-style,
.program-style {
	font-family: var(--font-sans-condensed) !important;
}
