@font-face {
	font-family: "IM Fell English SC";
	src: url("../fonts/IM_FELL_DW_PICA_SC_RU.woff2");
}

.demonlord .sheet-header .charname,
.demonlord .sheet-header .charancestry,
.demonlord .sheet-header .charsex,
.demonlord .accordion .toggleAccordion,
.demonlord2 .resource .resource-label,
.demonlord2.item .template-type,
.demonlord2.item .items-list,
.item-form .sheet-content input,
.item-form .sheet-content select,
.item-form .sheet-content textarea,
.item-form .sheet-content .editor {
	font-family: var(--font-serif);
}

.demonlord2 form {
	font-family: var(--font-serif);
}

.demonlord2.item .items-list li.level div.levelheader {
	font-family: var(--font-sans-condensed);
}

.demonlord2.actor .sheet-header .attributes .attributebox .attributetext {
	font-family: var(--font-pirate);
}

.window-app .window-header {
	font-family: var(--font-pirate);
}

#sidebar h2 {
	font-family: var(--font-pirate);
}

#sidebar button {
	font-family: var(--font-pirate);
}

.sidebar-tab .directory-list .directory-item h3 {
	font-family: var(--font-pirate);
}

.sidebar-tab .directory-list .directory-item h4 {
	font-family: var(--font-pirate);
}

#chat-controls div.roll-type-select select {
	font-family: var(--font-pirate);
}

#chat-log .message .message-header .message-sender,
#chat-log .message .message-header .message-metadata {
	font-family: var(--font-pirate);
}

#hotbar {
	font-family: var(--font-pirate);
}

#navigation #scene-list .scene {
	font-family: var(--font-pirate);
}

#players {
	font-family: var(--font-pirate);
}

#combat li.combatant .token-initiative {
	font-family: var(--font-pirate);
	font-size: var(--font-size-12) !important;
}

#scenes .scene h3 {
	font-family: var(--font-pirate);
}

#combat #combat-round .encounters h3,
#combat #combat-controls a.center {
	font-family: var(--font-pirate);
}

.demonlord .form-block .creature-list .creature-entry .header h4 {
	font-family: var(--font-pirate);
}

.demonlord .affliction {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14) !important;
}

.demonlord2.actor .sheet-header .attributes .attributebox .attributetextper {
	font-family: var(--font-pirate);
}

.demonlord2.actor nav.sheet-navigation {
	font-family: var(--font-pirate);
	font-size: 11px !important;
}

.demonlord .form-block .form-modline {
	font-family: var(--font-sans-condensed);
	font-size: 11px !important;
}

.affliction label {
	margin-top: 0px;
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14) !important;
}

.demonlord .form-block .items-list .affliction label {
	margin-top: 0px;
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14) !important;
}

#disableafflictions {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14) !important;
	font-weight: bold;
}

.demonlord2.actor .sheet-header .header-fields .leveltext {
	font-family: var(--font-pirate);
}

.newcreature.actor .sheet-header .attributes .attributebox .attributetext {
	font-family: var(--font-pirate);
}

.newcreature.actor .sheet-header .header-fields .leveltext {
	font-family: var(--font-pirate);
}

.newcreature.actor .sheet-header .attributes .attributebox .attributetextper {
	font-family: var(--font-pirate);
}

#pause h3,
#menu #menu-items li h4 {
	font-family: var(--font-pirate);
}

.demonlord2 nav.sheet-subnavigation {
	font-family: var(--font-sans-condensed);
	font-weight: bold;
}

.item-form .sheet-content {
	font-family: var(--font-pirate);
}

.item-form .sheet-content .item-table label {
	font-size: var(--font-size-14) !important;
}
