:root {
	--t5e-signika: var(--font-sans);
	--syb5e-pc-font: var(--font-fancy) !important;
	--syb5e-npc-font: var(--font-fancy) !important;
}

.dnd5e.sheet .window-content {
	font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header .header-details {
	font-family: var(--font-serif);
}

.dnd5e .form-header {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header h1 input {
	font-family: var(--font-fancy);
	font-size: var(--text-2xl);
	font-weight: 600;
}

.dnd5e.sheet .sheet-navigation {
	font-weight: 600;
	font-size: var(--text-sm);
	text-transform: uppercase;
}

.dnd5e.sheet.actor ul.attributes li.attribute {
	font-family: var(--font-serif);
}

.dnd5e.sheet.actor .sheet-header .summary input,
.dnd5e.sheet.actor .sheet-header .summary2 input {
	font-family: var(--font-serif);
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor .ability-scores .ability {
	height: 71px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor .counters .counter h4 {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .item-controls a {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
}

.dnd5e.sheet .filter-list .filter-item {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor .traits label {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor .spellcasting-ability label,
.dnd5e.sheet.actor .spellcasting-ability span {
	font-family: var(--font-sans-condensed);
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .items-header h3 {
	font-family: var(--font-serif);
}

.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor h4.box-title {
	font-family: var(--font-fancy);
	font-size: var(--text-sm);
	font-weight: 700;
	padding: 0px;
	height: 19px;
}

.dnd5e.sheet.actor .sheet-header .summary {
	font-size: var(--text-base);
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
	font-weight: 500;
	overflow: hidden;
}

.dnd5e.sheet.actor.character ul.skills-list {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
	overflow: hidden;
}

.dnd5e.sheet.actor.npc ul.skills-list {
	flex: 0 0 195px;
}

.dnd5e label.checkbox {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .items-header .item-name {
	font-family: "Nodesto", sans-serif;
	font-weight: 500;
	font-size: var(--text-lg);
}

.dnd5e.sheet.actor.character .sheet-header .charlevel,
.dnd5e.sheet.actor.character .sheet-header .charlevel label,
.dnd5e.sheet.actor .sheet-header .header-exp {
	font-family: var(--font-fancy);
	font-size: var(--text-base);
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
	font-family: var(--font-serif);
	font-size: var(--text-base);
	height: 27px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .hit-dice {
	font-family: var(--font-serif);
	font-weight: 600;
	font-size: var(--text-xl);
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value > * {
	font-family: var(--font-serif);
	font-weight: 600;
	font-size: var(--text-lg);
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp > label {
	font-size: var(--text-xl);
}

.dnd5e.sheet.actor .sheet-header .charlevel .level input {
	font-size: var(--text-xl);
}

.dnd5e.sheet.actor .inventory-list .item-detail {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header .summary li {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
	font-family: var(--font-serif);
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
	font-size: var(--text-sm);
}

.dnd5e.chat-card .card-content {
	font-size: var(--text-sm);
}

.dnd5e.chat-card .card-header h3 {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-base);
}

.dnd5e.sheet.actor .inventory-list .item-summary {
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
	color: var(--color-gray-500);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
	font-size: var(--text-xs);
}

.dnd5e.sheet.actor.character .characteristics label {
	font-family: var(--font-serif);
	font-weight: 700;
}

.dnd5e.sheet.actor.npc .header-exp .cr {
	font-family: var(--font-serif);
	font-size: var(--text-xl);
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group label {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-base);
}

.dnd5e.sheet.item .weapon-properties label {
	font-size: var(--text-sm) !important;
	font-weight: 500 !important;
}

.dnd5e .form-group label {
	font-weight: 500 !important;
}

.dnd5e.sheet.actor ul.skills-list {
	flex: 0 0 185px;
	margin: 0 3px 0;
	border: none;
}

.dnd5e.sheet.actor.character ul.skills-list {
	flex: 0 0 200px;
}

.dnd5e.sheet.actor ul.skills-list li.skill h4 {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--text-sm);
	overflow: hidden;
}

.dnd5e.sheet .items-list .items-header {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

.dnd5e.sheet.actor .ability-scores {
	font-family: var(--font-serif);
	font-weight: bold;
	color: var(--color-gray-500);
}

.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
	font-family: var(--font-serif);
	font-weight: bold;
}

.dnd5e.sheet.actor .spellcasting-ability select {
	flex: 0 0 100px;
}

.dnd5e.sheet.actor .sheet-header .attributes .attribute {
	height: 73px;
}

.dnd5e.sheet.actor.npc .header-exp {
	flex: 0 0 120px;
}

.dnd5e.sheet.actor.npc .header-exp .experience,
.dnd5e.sheet.actor.npc .header-exp .proficiency {
	font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header .header-details .summary select {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
	font-weight: 500;
}

.dnd5e.sheet.actor .attribute-name {
	padding: 2px;
}

.dnd5e.sheet.item .sheet-navigation .item {
	font-size: var(--text-sm);
}

#chat-log thead > tr > th {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
	font-weight: 500;
}

.dnd5e.sheet.item {
	min-height: 400px;
	max-height: 95%;
	min-width: 580px;
}

.dnd5e.sheet.item .weapon-properties label.checkbox {
	flex: auto !important;
}

.dnd5e.sheet.actor.ability-name #pause {
	font-family: var(--font-fancy);
}

.dnd5e.sheet.actor .attribute-name {
	font-family: var(--font-fancy);
}

.dnd5e .tag {
	font-size: var(--text-sm);
}

.tabs .item,
#menu-items {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

/* TIDY5E */

.system-dnd5e {
	--modesto: var(--font-fancy);
	--signika: var(--font-sans);
}

.tidy5e.sheet.actor .filter-list .filter-item {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.tidy5e.sheet.actor input.temphp,
.tidy5e.sheet.actor input.max-temphp,
.tidy5e.sheet.actor .portrait-temp {
	font-size: var(--text-xs);
}

.tidy5e.sheet.actor .portrait-temp input {
	width: 42px;
}

.tidy5e.sheet.actor .tidy5e-navigation .item {
	font-family: var(--font-fancy);
	font-weight: 500;
	font-size: var(--text-base);
	line-height: 20px;
	text-align: center;
}

.tidy5e.sheet.actor .list-layout .items-list .item h4 {
	font-size: var(--text-sm);
	font-weight: 500;
}

.tidy5e.sheet.actor .spellcasting-ability h3 {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-base);
}

.tidy5e.sheet.actor .list-layout .items-list .item-detail,
.tidy5e.sheet.actor .items-list .items-header-labels div {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

.tidy5e.sheet.actor .skills-list .skill .skill-name {
	font-weight: 500;
	font-size: var(--text-sm);
	font-family: var(--font-sans-condensed);
}

.tidy5e.sheet.actor .skills-list .skill.proficient .skill-name {
	font-weight: 500;
}

.tidy5e.sheet.actor .ability-scores .ability .ability-score,
.tidy5e.sheet.actor .char-name {
	font-size: var(--text-2xl);
}

.tidy5e.sheet.actor .header-attributes .ac-display .attribute-value {
	font-family: var(--font-serif);
	font-size: var(--text-3xl);
	font-weight: 700;
	top: 40%;
}

.tidy5e.sheet.actor .resources .resource .resource-name input {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.tidy5e.sheet.actor .resources .resource .resource-value.multiple input {
	font-size: var(--text-base);
}

.tidy5e.sheet.actor .traits.show-labels label span {
	font-size: var(--text-sm);
	font-weight: 500;
}

.tidy5e.sheet.actor.npc .legendary,
.tidy5e.sheet.actor.npc .lair,
.tidy5e.sheet.actor.npc .configure-flags,
.tidy5e.sheet.actor.npc .toggle-traits {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-sm);
}

.tidy5e.sheet.actor .traits .config-button {
	line-height: 17px;
}

.tidy5e.sheet.actor .tidy5e-navigation .item {
	padding: 4px 4px 0 4px;
}

/* MOBILE IMPROVEMENTS */

.mobile-improvements .dnd5e.sheet .sheet-navigation .item {
	font-size: 0.6rem;
}

.mobile-improvements .dnd5e.sheet.actor ul.attributes li.attribute .attribute-value > * {
	font-size: 1rem;
}

.mobile-improvements .dnd5e.sheet .items-list .items-header .item-name {
	font-size: var(--text-sm);
}

.mobile-improvements .dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
	font-size: 0.6rem;
}

/* ROS */

.syb5e.sheet.actor.character .sheet-header h1.charname input {
	font-size: 30px;
}

/* LOTR */

.dnd5e.sheet.actor .ability-name h4,
.dnd5e.sheet.actor h4.box-title-small {
	font-family: var(--font-fancy) !important;
}

/* ARGON HUD */

.extended-combat-hud {
	font-family: var(--font-sans-condensed);
}

.actions-container {
	font-weight: 500;
}
