@font-face {
	font-family: "QTFrizQuad";
	src: url("../fonts/Beaufort/Beaufort-Medium.ttf");
}
@font-face {
	font-family: "QTFrizQuad";
	src: url("../fonts/Beaufort/Beaufort-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Caveat";
	src: url("../fonts/Beaufort/Beaufort-Regular.ttf");
}
@font-face {
	font-family: "Caveat";
	src: url("../fonts/Beaufort/Beaufort-Medium.ttf");
	font-weight: bold;
}

.DoD.sheet.character .attributes-container .attributes .attribute-panel .attribute-input {
	left: -3px;
}

.system-dragonbane .sheet.journal-entry .journal-entry-content {
	font-size: 0.9rem;
}
