@font-face {
	font-family: "QTFrizQuad";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2");
}

@font-face {
	font-family: "QTFrizQuad";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2");
	font-weight: bold;
}

@font-face {
	font-family: "Caveat";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2");
}

@font-face {
	font-family: "Caveat";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2");
	font-weight: bold;
}

.DoD.sheet.character .attributes-container .attributes .attribute-panel .attribute-input {
	left: -3px;
}

.system-dragonbane .sheet.journal-entry .journal-entry-content {
	font-size: 0.9rem;
}