.dungeonworld.sheet label,
.dungeonworld.sheet h1,
.dungeonworld.sheet h2 {
	font-family: var(--font-pirate);
}

.vtt #chat-log h1,
.vtt #chat-log h2,
.vtt #chat-log h3,
.vtt #chat-log h4,
.vtt #chat-log h5 {
	font-family: var(--font-pirate);
}

.vtt #chat-log .cell__title {
	font-family: var(--font-pirate);
}

.vtt .window-header {
	font-family: var(--font-pirate);
}

.vtt .sidebar-tab #combat-round h3 {
	font-family: var(--font-pirate);
}

.vtt .sidebar-tab .directory-item--group,
.vtt .sidebar-tab .combat-control[data-control="endCombat"],
.vtt .sidebar-tab .combat-control[data-control="startCombat"] {
	font-family: var(--font-pirate);
}

.vtt .sidebar-tab .actor-elem .ct-item--moves {
	font-family: var(--font-pirate);
}

.dungeonworld.sheet .input--title {
	font-family: var(--font-pirate);
}

.dungeonworld.sheet .cell__subtitle {
	font-family: var(--font-pirate);
}

.dungeonworld.sheet .class .cell__title input[type="text"] {
	font-family: var(--font-pirate);
}
