@font-face {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-LightItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Italic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-MediumItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BlackItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Medium.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBold.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Black.ttf") format("truetype");
}

/* Noto Sans */

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/Noto_Sans/NotoSans-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/Noto_Sans/NotoSans-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 600;
	src: url("../fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/Noto_Sans/NotoSans-BlackItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Noto_Sans/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
}

/* Noto Serif */

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Serif";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

/* Noto Sans Mono */

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Bold.ttf") format("truetype");
}

.xp-container {
	width: 8rem;
}
