@font-face {
	font-family: "Anticva";
	src: url("../fonts/Anticva.otf") format("opentype");
}

@font-face {
	font-family: "Imprint";
	src: url("../fonts/Imprint.ttf") format("truetype");
}

@font-face {
	font-family: "Beaufort Italic";
	src: url("../fonts/Beaufort/Beaufort-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Beaufort Bold";
	src: url("../fonts/Beaufort/Beaufort-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Great Vibes";
	src: url("../fonts/MarckScript.ttf") format("truetype");
}

.house-divided.journal-page-content.handwritten > p {
	line-height: 1.5rem;
}

.house-divided {
	--body-font: "Beaufort", serif;
	--body-b: "Beaufort Bold", serif;
	--body-i: "Beaufort Italic", serif;
	--h1-font: "Imprint", sans-serif;
	--h2-font: "Anticva", sans-serif;
	--h3-font: "Anticva", sans-serif;
	--h4-font: "Anticva", sans-serif;
	--body-size: 1rem;
}

.house-divided .journal-page-header h1,
.house-divided .journal-page-header h2 {
	text-transform: uppercase;
}
