@font-face {
	font-family: "Moyenage";
	src: url("../fonts/Moyenage.woff2") format("woff2");
}

.item-control .item-create,
.item-slot-footer .mausritter .item-slot-footer {
	font-family: "Montserrat", var(--font-sans);
	font-weight: 600;
	font-size: 11px;
}

.mausritter .tab-select,
.mausritter .minmax-input,
.mausritter .minmaxtext,
.mausritter .littleLabel,
.mausritter .bigLabel,
.mausritter .headerinputtext,
.mausritter .headerinputfield,
.mausritter .rollattribute,
.mausritter .roll-target,
.mausritter .roll-damage,
.mausritter .item-bag-text,
.mausritter .item-slot-header,
.mausritter .item-card-header,
.mausritter .item-card-header-noborder,
.mausritter .item-card-damage,
.mausritter .item-card-field-container,
.mausritter .sheet-header-maus h1.charname,
.mausritter .sheet-header-maus .resource-label,
.mausritter .tabs .item,
.mausritter .rollcontainer {
	font-family: "Moyenage", var(--font-fancy);
}

.mausritter .littleLabel,
.mausritter .item-card-header-noborder,
.mausritter .item-card-header,
.mausritter .item-card-damage {
	font-size: var(--font-size-15);
}

.mausritter .creaturedescription {
	font-family: var(--font-fancy);
	font-weight: 600;
}

.mausritter .rollcontainer .body {
	font-family: var(--font-fancy);
}

.mausritter .rollcontainer h2 {
	font-weight: 700;
}

.mausritter .rollmods {
	font-family: var(--font-fancy);
	font-size: var(--font-size-14);
	font-weight: 700;
}

.mausritter .item-card-tag {
	color: rgb(22, 22, 22);
	font-weight: 500;
	background: rgba(255, 255, 255, 0.5);
	font-size: var(--font-size-12);
	font-family: var(--font-sans-condensed);
}

.mausritter .headerinputtext {
	font-size: var(--font-size-15);
	margin-top: 4px;
}

.mausritter .blockborder {
	background: linear-gradient(
		90deg,
		rgba(221, 221, 221, 1) 0%,
		rgba(221, 221, 221, 1) 39%,
		rgba(255, 255, 255, 1) 20%,
		rgba(255, 255, 255, 1) 100%
	);
}

.mausritter .minmaxtext {
	margin-left: 2px;
}

.mausritter .item-card-desc,
.mausritter .item-card-clear,
.mausritter .item-card-clear-text,
.mausritter .current-max-label {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-12);
}

.mausritter .item-card-clear {
	font-weight: 600;
}

.directory .directory-item img {
	background-color: white;
}

.mausritter .rollweaponh1,
.mausritter .rollh1 {
	font-size: var(--font-size-24);
}

.mausritter .littleLabel {
	font-size: var(--font-size-14);
	overflow: hidden;
}
