.journal-entry-content .written-block,
.journal-entry-content p.fh2 {
  font-family: var(--font-serif);
  font-style: italic;
}

.journal-entry-content .written-block {
  font-size: 0.8rem;
}

.journal-entry-content p.fh2 {
  font-size: 1rem;
}
