.mutant-year-zero .checkbox-label {
	font-family: var(--font-sans-condensed);
}

.mutant-year-zero .box-item .item-name {
	font-family: var(--font-sans-condensed);
}

.mutant-year-zero .box-item.header {
	font-family: var(--font-sans-condensed);
}

.mutant-year-zero .box-item.resource .item-name {
	font-family: var(--font-sans-condensed);
}

.mutant-year-zero .box-item {
	font-family: var(--font-sans-condensed);
}

.mutant-year-zero .box-list.conditions .grid {
	grid-gap: 0px;
	margin: 0;
}
