form.numenera-recovery h2 {
	margin-top: 0.3em !important;
	font-size: 18px !important;
}

form.numenera,
form.numenera button#recoveryRoll h2,
form.numenera-recovery,
form.numenera-recovery h1 {
	font-family: var(--font-sans-condensed);
}

form.numenera-recovery {
	font-size: 18px !important;
}

form.numenera-recovery h1 {
	font-size: 20px !important;
}

form.numenera h1.character {
	font-size: 20px !important;
}

form.numenera div.numenera ul > li > h4 {
	font-size: var(--font-size-14) !important;
}

form.numenera a.item {
	font-size: 16px !important;
}

form.numenera-recovery h1 button {
	font-size: 16px !important;
}
