.ose.sheet.actor .sheet-tabs {
	font-family: var(--font-sans-condensed);
}

.ose.sheet.actor .sheet-body .attributes .attribute .attribute-name {
	font-family: var(--font-fancy);
}

.ose.sheet.actor.sheet-body.attribute-group.attributes.attribute.attribute-name,
.ose.sheet.actor.sheet-body.attribute-group.attributes.attribute.saving-throw.attribute-name,
.ose.sheet.actor.character .sheet-body .health .health-value,
.ose.sheet.actor .header-details h1 input,
.ose.sheet.actor.character .sheet-body .exploration .attribute .attribute-name {
	font-family: var(--font-fancy);
}

.ose.sheet.actor .sheet-body .inventory .item-category-title .category-name {
	height: auto;
}

.ose.sheet.actor .summary li label {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-12);
	line-height: 8px;
}
