@font-face {
  font-family: "OneDirection";
  src: url("../fonts/Graffiti.woff2") format("woff2");
}

.slugblaster {

  .window-title,
  .header-button,
  label {
    font-family: "OCR-A";
  }
}

.slugblaster {

  h2,
  h3 {
    font-weight: 500;
  }
}