@font-face {
  font-family: "OneDirection";
  src: url("../fonts/Graffiti.woff2") format("woff2");
}

.slugblaster {
  .window-title,
  .header-button,
  label {
    font-family: "OCR-A";
  }
}

.slugblaster {
  h2,
  h3 {
    font-weight: 400;
    opacity: 1;
    color: oklch(64.5% 0.246 16.439);
  }

  input,
  textarea {
    border: 0px;
    border-bottom: 1px solid #9d9c93;
  }

  label {
    color: oklch(76.5% 0.177 163.223);
    opacity: 1;
  }

  .slugblasterBeats li {
    opacity: 1;
  }
}
