.sta.sheet.actor,
.sta.sheet.item {
	font-family: var(--font-sans-condensed);
}
.sta.sheet.actor .main .row .column .section .title {
	font-size: 15pt;
}

.sta.sheet.actor .track .bar .box {
	height: auto;
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
	font-family: var(--font-sans-condensed);
}

.sta.sheet.actor .track .bar .box.stress,
.sta.sheet.actor .track .bar .box.shields,
.sta.sheet.actor .track .bar .box.shields.selected {
	border-color: #000000;
}

.sta.sheet.actor .track .bar .box.rep.selected,
.sta.sheet.actor .track .bar .box.determination.selected,
.sta.sheet.actor .track .bar .box.power.selected {
	background-color: #ffcc33;
	border-color: #000000;
}

.sta.sheet.actor .secondary-title,
.sta.sheet.actor .main .row .column .value-used {
	font-size: 10pt;
}

.sta.sheet.actor .main > .row .column .section .row .control {
	text-align: center;
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Sans_Mono/NotoSansMono_Condensed-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-LightItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Italic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-MediumItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BoldItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-BlackItalic.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Medium.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-SemiBold.ttf")
		format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Black.ttf") format("truetype");
}
