.sta.sheet.actor,
.sta.sheet.item {
	font-family: var(--font-sans-condensed);
}

.sta.sheet.actor .main .row .column .section .title {
	font-size: 15pt;
}

.sta.sheet.actor .track .bar .box {
	height: auto;
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
	font-family: var(--font-sans-condensed);
}

.sta.sheet.actor .track .bar .box.stress,
.sta.sheet.actor .track .bar .box.shields,
.sta.sheet.actor .track .bar .box.shields.selected {
	border-color: #000000;
}

.sta.sheet.actor .track .bar .box.rep.selected,
.sta.sheet.actor .track .bar .box.determination.selected,
.sta.sheet.actor .track .bar .box.power.selected {
	background-color: #ffcc33;
	border-color: #000000;
}

.sta.sheet.actor .secondary-title,
.sta.sheet.actor .main .row .column .value-used {
	font-size: 10pt;
}

.sta.sheet.actor .main > .row .column .section .row .control {
	text-align: center;
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-BlackItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Roboto_Condensed/RobotoCondensed-Black.woff2") format("woff2");
}
