@font-face {
	font-family: "dead-saloon";
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
}

@font-face {
	font-family: "Treacherous Corners";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
}

/* Roboto Serif */

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto_Serif/RobotoSerif-Bold.woff2") format("woff2");
}

/* Roboto */

@font-face {
	font-family: "Anton";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Anton";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}

/* SWADE */

:root {
	--body-font-family: var(--font-serif);
	--heading-font-family: var(--font-slab);
	--table-title-font-family: var(--font-slab);
	--table-headers-font-family: var(--font-sans-condensed);
	--table-summary-font-family: var(--table-headers-font-family);
	--quote-font-family: var(--font-serif);
}

.swade-core {
	--body-font-family: var(--font-serif);
	--heading-font-family: var(--font-slab);
	--table-title-font-family: var(--font-slab);
	--table-headers-font-family: var(--font-sans-condensed);
	--table-summary-font-family: var(--table-headers-font-family);
	--quote-font-family: var(--font-serif);
	font-family: var(--font-sans);
}

.swade-app {
	--default-font: var(--font-sans);
	--section-header-font: var(--font-sans-condensed);
	--tab-font: var(--font-sans-condensed);
	font-family: var(--font-sans);
}

.swade-official {
	--section-header-size: var(--font-size-24);
	--section-header-font: var(--font-sans);
	--default-font: var(--font-sans);
}

.swade-core .figure-heading {
	font-family: var(--heading-font-family);
	font-size: var(--font-size-32);
	font-weight: 700;
	font-style: normal;
}

.swade.sheet.actor:not(.application) .sheet-body .header-field {
	font-family: var(--font-slab);
}

.swade.sheet.actor .sheet-header .charline .charname {
	font-family: var(--font-serif);
	font-weight: 600;
}

.swade-official .label {
	font-family: var(--font-sans-condensed);
	font-weight: bold;
}

.swade.sheet .tabs .item {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-16);
	font-weight: 600;
}

.swade-official .tabs .item {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-14);
	font-weight: 500;
}

.swade .check-container,
.swade-official .check-container {
	font-size: var(--font-size-14);
	padding-left: 25px;
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

.swade-official .derived .stat-label {
	font-weight: 500;
	font-family: var(--font-sans-condensed);
}

.swade-official .primary .attribute-label {
	font-size: var(--font-size-11);
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--font-sans-condensed);
}

.swade-official .primary .attribute-list {
	-moz-column-gap: 2px;
	column-gap: 2px;
}

.swade.sheet.actor .attribute-label {
	font-size: var(--font-size-10);
	text-transform: uppercase;
	font-weight: 500;
	font-family: var(--font-sans-condensed);
}

.swade-official .section-header .controls {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-12);
}

.swade-official .item-controls button {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-12);
}

.swade-official .section-header .name,
.swade-official .header,
.swade-official .header .header-name {
	font-family: var(--font-slab);
	font-weight: 600;
}

.swade-official .charname {
	font-family: var(--font-serif);
	font-weight: 600;
}

.swade-official .skills .skill-die {
	font-weight: 600;
}

.swade-official .item-name button {
	font-family: var(--font-sans-condensed);
}

.swade.sheet.actor.npc .vitals-container {
	font-family: var(--font-sans-condensed);
}

.combat-sidebar .combat-tracker-header div.encounter-controls .encounter-title {
	margin-left: 2px;
	font-size: var(--font-size-14);
	line-height: normal;
}

.swade-app button {
	font-family: var(--font-sans-condensed);
}

.attribute-manager .index-card header {
	font-size: var(--font-size-16);
}

.skills .skill-name {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

.effect-label,
.item-name {
	font-family: var(--font-sans-condensed);
	font-weight: 600;
}

/* DEADLANDS */

.deadlands,
.deadlands-compendium,
.deadlands-core,
.deadlands-sheet,
.deadlands-wrapper {
	--section-header-font: var(--font-slab);
	--default-font: var(--font-serif);
}

.swade-official.actor.deadlands-sheet {
	--section-header-size: var(--font-size-20);
	--section-header-font: var(--font-slab);
	--default-font: var(--font-sans);
}

.deadlands-core {
	font-family: var(--font-serif);
}

.deadlands-sheet {
	.window-header {
		font-family: var(--font-sans-condensed);
	}

	.tabs {
		.item {
			font-family: var(--font-slab);
			font-weight: bold;
			font-size: var(--font-size-12);
		}
	}

	.section-header .name,
	.header,
	.header .header-name {
		font-family: var(--font-slab);
	}

	.sheet-body {
		padding: 1rem;
	}

	.attribute-list {
		column-gap: 1px;
	}

	.character-detail {
		font-weight: 600;

		input,
		button {
			font-weight: 600;
		}
	}

	.fatigue,
	.wounds {
		font-family: var(--font-slab);
		font-weight: 700;

		input {
			font-weight: 700;
		}
	}

	.charname-container:after,
	.charname-container:before {
		display: none;
		width: 0;
	}

	input.charname,
	.charname {
		font-family: var(--font-slab);
		font-weight: 600;
	}
}

/* PATHFINDER */

.swpf-core {
	font-family: var(--font-serif);
}

.swpf-compendium.sidebar-popout.Compendium-sidebar > .window-content {
	font-family: var(--font-serif);
}

.compendium-toc .toc .toc-entry .entry .name:not(:only-child) {
	line-height: 1.5rem;
}

.swpf-core h2.trap,
.swpf-core h2.red-award,
.swpf-core h2.white-award {
	max-width: 16em;
}

.swpf-core h1.wide {
	text-shadow:
		3px 3px 3px #00000080,
		3px 3px 3px #00000080;
}

.swpf-core .chapter-heading h1 {
	font-size: var(--font-size-64);
	font-weight: 900;
}

.swpf-sheet.swade-official.actor {
	--section-header-font: var(--font-fancy);
	--default-font: var(--font-sans);
}

.sheet.journal-entry.swpf-wrapper .journal-sidebar {
	text-transform: none;
}

.sheet.journal-entry.swpf-wrapper .pages-list .page-heading {
	font-size: var(--font-size-16);
	font-weight: 600;
}

.swpf-sheet {
	.sheet-body {
		font-family: var(--font-fancy);
	}

	.character-detail {
		font-weight: 600;

		input,
		button {
			font-weight: 600;
		}
	}

	.fatigue,
	.wounds {
		font-weight: 700;

		input {
			font-weight: 700;
		}
	}

	.tabs {
		.item {
			font-family: var(--font-fancy);
			font-size: var(--font-size-16);
			font-weight: 600;
		}
	}

	.window-content {
		padding: 4px;
	}

	.gu-1 {
		padding: 0px;
		height: 13em;
		left: 0px;
		top: 0px;
		right: 0px;
		width: 110%;
		transform: scaley(1);
	}
}

.swpf-sheet,
.swpf-sheet.swade-official.actor {
	border-image-width: 8px;
}

/* MISC */

.brws-tab-player-mods {
	font-family: var(--font-sans-condensed);
}

.sheet .editor-content {
	padding: 2px;
}

figure figcaption {
	font-style: normal;
}

/* Fix for gigantic trash icon */
.inline-delete {
	.fa-3x {
		font-size: var(--font-size-18);
	}
}

/* Fix for bugged running die button */
.running-die {
	height: 32px;
}
