@font-face {
	font-family: "dead-saloon";
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
}

@font-face {
	font-family: "Roboto Slab";
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
}

@font-face {
	font-family: "Treacherous Corners";
	src: url("../fonts/Beaufort/Beaufort-Medium.ttf") format("truetype");
}

/* Noto Serif */

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Romic";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Romic";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
}

/* SWADE */

.sheet .editor-content {
	padding: 2px;
}

:root {
	--body-font-family: var(--font-serif);
	--heading-font-family: var(--font-sans-condensed);
	--table-title-font-family: var(--font-serif);
	--table-headers-font-family: var(--font-serif);
	--table-summary-font-family: var(--font-sans-condensed);
	--quote-font-family: "Rock Salt", cursive;
}

.swade-official {
	--section-header-size: 1.4em;
	--section-header-font: var(--font-sans);
	--default-font: var(--font-sans);
}

.swade.sheet.actor .sheet-header .charline .charname {
	font-family: var(--font-serif);
	font-size: 35px;
}

.swade-official .label {
	font-family: var(--font-sans-condensed);
	font-weight: bold;
}

.swade.sheet .tabs .item {
	font-family: var(--font-sans-condensed);
	font-size: 1em;
	font-weight: 600;
}

.swade-official .header .header-name {
	font-weight: bold;
}

.swade-official .tabs .item {
	font-family: var(--font-sans-condensed);
	font-size: 1.1em;
}

.swade .check-container,
.swade-official .check-container {
	font-size: 1em;
	padding-left: 25px;
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}

.swade-official .derived .stat-label {
	font-weight: 500;
	font-family: var(--font-sans-condensed);
}

.swade-official .primary .attribute-label {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--font-sans-condensed);
}

.swade.sheet.actor .attribute-label {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: var(--font-sans-condensed);
}

.swade-official .section-header .controls {
	font-family: var(--font-sans-condensed);
	font-size: var(--text-xs);
}

.swade-official .item-controls button {
	padding: 0;
	font-family: var(--font-sans-condensed);
	font-size: var(--text-xs);
}

.swade-official .section-header .name {
	font-weight: 600;
}

.swade.sheet.actor .status-container {
	flex-basis: 123px;
}

.swade-official .charname {
	font-family: var(--font-serif);
	font-weight: 600;
}

.swade-official .skills .skill-die {
	font-weight: 600;
}

.swade-official .item-name button {
	font-family: var(--font-sans-condensed);
}

.swade.sheet.actor.npc .vitals-container {
	font-family: var(--font-sans-condensed);
}

.combat-sidebar .combat-tracker-header div.encounter-controls .encounter-title {
	margin-left: 2px;
	font-size: var(--text-sm);
	line-height: normal;
}

.swade-app button {
	font-family: var(--font-sans-condensed);
}

/* DEADLANDS */

.deadlands-sheet input.charname {
	font-family: "Roboto Slab";
}

.swade-official.actor.deadlands-sheet {
	--section-header-size: 1.3em;
	--section-header-font: "Roboto Slab";
	--default-font: var(--font-sans);
}

.deadlands-core {
	font-family: var(--font-serif);
}

.deadlands-sheet .tabs .item {
	font-family: "Roboto Slab";
	font-weight: bold;
	font-size: 0.9em;
}

/* PATHFINDER */

.swpf-core {
	font-family: var(--font-serif);
}

.swpf-sheet .sheet-body {
	font-family: var(--font-fancy);
}

.swpf-core h2.trap,
.swpf-core h2.red-award,
.swpf-core h2.white-award {
	max-width: 16em;
}

.swpf-core h1.wide {
	text-shadow:
		5px 5px 5px #00000087,
		5px 5px 5px #00000087;
}

.swpf-core .chapter-heading h1 {
	font-size: 5em;
	font-weight: 900;
}

.sheet.journal-entry.swpf-wrapper .pages-list .page-heading {
	font-size: 1.3em;
	font-weight: 700;
}

.swpf-sheet.swade-official.actor {
	--section-header-font: var(--font-fancy);
	--default-font: var(--font-sans);
}

.swade-official .header {
	font-family: var(--font-fancy);
}

.swpf-sheet .tabs .item {
	font-family: var(--font-fancy);
	font-size: 1em;
	font-weight: 600;
}

.swpf-compendium .window-content {
	font-family: var(--font-serif);
	font-size: 11pt;
}

.swpf-sheet .branding::before {
	display: none;
}

.swade-official .branding {
	background-image: url(../images/swade/logo.webp);
	width: auto;
	height: 95px;
}
