.witcher-style,
h1,
h2 {
	font-family: 'GWENT' !important;
}

h2 {
	font-size: var(--text-lg);
}

.app .window-app .witcher .sheet .actor,
.vtt .game .system-TheWitcherTRPG,
.char-skill,
label {
	font-family: var(--font-sans-condensed) !important;
}

label {
	font-weight: 500;
}

.char-skill a {
	font-size: var(--text-sm);
	font-weight: 300;
	padding: 3px;
	margin-bottom: 2px;
	height: auto;
	border: none;
	border-radius: 2px;
}

.not-skilled a {
	background-color: #57534e;
}

h1,
.charname {
	font-family: 'GWENT' !important;
}

.sheet nav.sheet-tabs {
	font-family: 'GWENT' !important;
	line-height: 20px;
}

.skill-info {
	background-color: #64748b;

	border-radius: 2px;
}

.IP-value,
.extra-skill-name,
.extra-skill-value {
	background: #e2e8f0 !important;
}
