.tor2e.sheet.actor h2,
.popup .content h2,
.tor2e.sheet.item h2 {
	font-family: "GWENT", sans-serif;
}

.section-title {
	font-size: var(--font-size-15);
	margin-top: 0.3rem;
}

.main-stat,
.tor2e.sheet.actor h4,
.tor2e.sheet.actor .attribute-label,
.sheet header.sheet-header h1 input,
.skill-label,
.table-caption,
.popup .form-group .label,
.popup .form-group label,
.dice-roll,
.tor2e.sheet.actor .hostile-friendly .hf-slider {
	font-family: var(--font-fancy);
}

.tertiary-stat label,
.secondary-stat label,
.primary-stat label {
	font-size: var(--font-size-12) !important;
	left: 1em !important;
	top: -2.6em !important;
}

.tor2e.sheet.actor .sheet-content .main-stat label,
.tor2e.sheet.actor .sheet-content .main-stat .label {
	font-size: var(--font-size-18);
}

.roll-message-body .roll-information-row .label {
	font-family: var(--font-sans-condensed);
}
