/* Caslon Antique*/

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

/* Caslon Pro */

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

:root :not(.no-theme) {
	--primary-font: "CaslonPro";
	--header-font: "CaslonAntique";
}

:root {
	--primary-font: "CaslonPro";
	--header-font: "CaslonAntique";
}
