/* Caslon Antique*/

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CaslonAntique";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

/* Caslon Pro */

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CaslonPro";
	src: url("../fonts/Beaufort/Beaufort-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

:root :not(.no-theme) {
	--primary-font: "CaslonPro";
	--header-font: "CaslonAntique";
}

:root {
	--primary-font: "CaslonPro";
	--header-font: "CaslonAntique";
}

.classic-font {
	font-size: var(--font-size-13);
}

.wfrp4e.sheet.application:not(.no-theme).classic-font .tabs > a,
.wfrp4e.sheet.application:not(.no-theme).classic-font table th,
.wfrp4e.sheet.application:not(.no-theme).classic-font .row-label,
.wfrp4e.sheet.application:not(.no-theme).classic-font .form-group label,
.wfrp4e.sheet.application:not(.no-theme).classic-font .attribute-box .label {
	font-size: var(--font-size-13);
}

.theme-light .wfrp4e.sheet.application:not(.no-theme).classic-font .tabs > a,
.theme-light .wfrp4e.sheet.application:not(.no-theme).classic-font table th,
.theme-light .wfrp4e.sheet.application:not(.no-theme).classic-font .row-label,
.theme-light .wfrp4e.sheet.application:not(.no-theme).classic-font .form-group label,
.theme-light .wfrp4e.sheet.application:not(.no-theme).classic-font .attribute-box .label {
	font-size: var(--font-size-13);
}

.wfrp4e.sheet.application section.tab[data-tab="effects"] .condition-section .condition {
	line-height: normal;
}
