body.whtow-font {
  --font-header: var(--font-sans);
  --font-header-alt: var(--font-fancy);
  --font-text: var(--font-sans-condensed);
}

.application.whtow.actor.character .skills {
  width: 130px;
}

.skills .skill a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 82px;
}
