@font-face {
  font-family: "default";
  src: url("../fonts/Beaufort/Beaufort-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "mortal";
  src: url("../fonts/Vollkorn/Vollkorn-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "changeling";
  src: url("../fonts/Hohenzollern.woff2") format("woff2");
}

@font-face {
  font-family: "vampire";
  src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "mage";
  src: url("../fonts/Beaufort/Beaufort-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "werewolf";
  src: url("../fonts/Old-Fenris.woff2") format("woff2");
}

@font-face {
  font-family: "hunter";
  src: url("../fonts/Xband.woff2") format("woff2");
}

@font-face {
  font-family: "demon";
  src: url("../fonts/Moyenage.woff2") format("woff2");
}

:root {
  --main-font: var(--font-fancy);
  --main-large-headline: var(--font-fancy);
  --main-chat-font: var(--font-serif);
}

.wod20 label,
.wod20 .headline {
  line-height: normal;
}

#pause {
  font-family: var(--font-fancy);
}
