/* Imported Fonts */
@font-face {
	font-family: "default";
	src: url("../fonts/Beaufort/Beaufort-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "mortal";
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "changeling";
	src: url("../fonts/Hohenzollern.ttf") format("truetype");
}

@font-face {
	font-family: "vampire";
	src: url("../fonts/Beaufort/Beaufort-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "mage";
	src: url("../fonts/Exocet.ttf") format("truetype");
}

@font-face {
	font-family: "werewolf";
	src: url("../fonts/Old-Fenris.otf") format("opentype");
}

@font-face {
	font-family: "hunter";
	src: url("../fonts/Xband.ttf") format("truetype");
}

@font-face {
	font-family: "demon";
	src: url("../fonts/Moyenage.ttf") format("truetype");
}

:root {
	--main-font: var(--font-fancy);
	--main-large-headline: var(--font-fancy);
	--main-chat-font: font-family: var(--font-serif);
	--font-large: 16px;
	--font-x-large: 22px;
}

.wod-sheet .sheet-headline {
	font-size: 24px !important;
}

.chat-message .message-content {
	padding: 2px;
}

#chat-log .tray-roll-area {
	font-weight: bold;
}

#chat-log .tray-info-area {
	margin: 4px;
	padding: 2px;
	font-family: var(--font-sans-condensed);
}

#chat-log .tray-title-area {
	font-size: 20px;
	font-weight: bold;
}

#chat-log .tray-roll-area span.danger {
	color: var(--chat-header-background);
}

#pause {
	font-family: "mage";
}

#chat-log img {
	border: 0px;
}
