.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-category-name {
	font-size: var(--font-size-14);
}
.yzecoriolis.sheet.actor .nav-item-link {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
	font-size: var(--font-size-15);
}
.yzecoriolis.sheet.actor .sheet-body .navigation .nav-link {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.tabs .item {
	font-family: var(--font-sans-condensed);
	font-weight: 400;
}
.yzecoriolis.sheet.actor .input-base {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor input[type="text"].input-base {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor input[type="number"].input-base {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor input[type="number"].right-aligned-number-input {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor .font-cairo {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .font-play {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor .font-cairo-bold {
	font-family: var(--font-sans-condensed);
	font-weight: 700;
}
.yzecoriolis.sheet.actor .data-label-1 {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .list-stat-label {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .player-text {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .player-text-bold {
	font-family: var(--font-sans-condensed);
	font-weight: 700;
}
.yzecoriolis.sheet.actor .data-text {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .data-text-bold {
	font-family: var(--font-sans-condensed);
	font-weight: 700;
}
.yzecoriolis.sheet.actor .data-text-semibold {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.yzecoriolis.sheet.actor input[type="text"] {
	font-family: var(--font-serif);
}
.yzecoriolis.sheet.actor .always-visible-stats .perma-stats-list .entry {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor.always-visible-stats.perma-stats-list.entry.number.input-value {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-header .char-class {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .category-header {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .item-entry {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .item-entry-name {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.yzecoriolis.sheet.actor .sheet-body .attribute-list .attr-num-display {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .attribute-list .attr-name {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .skills-list-group .skill-header {
	font-family: var(--font-sans-condensed);
	font-weight: 600;
}
.yzecoriolis.sheet.actor .sheet-body .skills-list-group .skill h4 {
	font-family: var(--font-sans-condensed);
	font-size: var(--font-size-15);
	font-weight: 400;
}
.yzecoriolis.sheet.actor .sheet-body .critical-injuries-list .crit-header h4 {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor.sheet-body.critical-injuries-list.crit-add-controls {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .critical-injuries-list .injury-display {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .item-properties .tag {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .talent-list .talent-category-header {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .talent-list .talent {
	font-family: var(--font-serif);
	font-size: var(--font-size-15);
	line-height: normal;
}
.yzecoriolis.sheet.actor .sheet-body .talent-list .talent-name {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-category-header {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .gear-list .gear {
	font-family: var(--font-serif);
	font-size: var(--font-size-15);
	line-height: normal;
}
.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-name {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-row-data {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-quantity-input {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .encumbrance-bar .encumbrance-data {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .bio-stats .bio-category-header {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .bio-stats .bio-input {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .bio-stats .bio-block .bio-block-title {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .sheet-body .bio-stats .bio-block select {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .charnotes .editor {
	font-family: var(--font-serif);
	font-size: var(--font-size-15);
}
.yzecoriolis.sheet.actor .ship .module-panel .toggle-ship-module-button {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .ship .module-panel .quantity-input {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .feature-list .feature-category-header {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .feature-list .feature {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .feature-list .feature-name {
	font-family: var(--font-sans-condensed);
	font-weight: 500;
}
.yzecoriolis.sheet.actor .feature-list .feature-row-data {
	font-family: var(--font-sans-condensed);
}
.yzecoriolis.sheet.actor .shipnotes .editor {
	font-family: var(--font-sans-condensed);
}
.sidebar {
	font-family: var(--font-sans-condensed);
}

.sidebar.sidebar a {
	color: #38bdf8;
	font-family: var(--font-sans-condensed);
}

.sheet.journal-entry .pages-list .page-heading {
	font-size: var(--font-size-16);
	font-weight: 500;
}
