@import "_fonts.css";

/* FOUNDRY */

body {
  font-family: var(--font-sans);
}

button {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

select {
  font-family: var(--font-sans-condensed);
}

form .form-group label {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

form .form-group label {
  line-height: 18px;
  line-height: normal;
}

.header-button,
.window-header,
.playlist-sounds {
  font-family: var(--font-sans-condensed);
}

.setup .form-group label {
  font-size: var(--text-base) !important;
}

.tabs .item {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

.package-list .package .package-controls button {
  width: 130px;
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  line-height: 20px;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
  font-family: var(--font-sans-condensed);
}

.journal-sheet .editor-content {
  font-size: var(--text-base);
}

.directory .directory-list .directory-item {
  font-size: var(--text-sm);
}

.active-effect-sheet .effects-header {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-xs);
}

.sheet.journal-entry-page .journal-header .page-level {
  flex: 0 0 130px;
  margin-left: 0.4rem;
}

.key,
.show-title {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.updated-packages-table th.package,
.updated-packages-table td.package {
  width: 450px;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
  width: 150px;
}

.filepicker .favorites .label {
  flex: 2;
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
  max-width: 200px;
}

.monks-tokenbar.chat-card .card-header h3 {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-serif);
}

.encounter-cr {
  font-family: var(--font-sans-condensed);
}

.request-roll {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-sans-condensed);
}

.storyteller-tooltip {
  font-family: var(--font-serif);
}

.monks-active-tiles.sheet .items-list .items-header h3,
.monks-active-tiles.sheet .items-list .items-header > * {
  font-family: var(--font-sans-condensed) !important;
}
