@import "_fonts.css";

:root {
  --font-primary: "Noto Sans", "Arial", sans-serif;
  --font-sans: "Noto Sans", "Arial", sans-serif;
  --font-sans-condensed: "Fira Sans Extra Condensed", sans-serif;
  --font-serif: "Noto Serif", "Georgia", "Times New Roman", serif;
  --font-fancy: "Beaufort", serif;
  --font-pirate: "Manuskript", fantasy;
  --font-mono: "Noto Sans Mono", "Consolas", "Courier New", monospace;
  --font-cursive: "Marck Script", "Lucida Handwriting", cursive;
  --font-sci-fi: "OCR-A", monospace;

  --text-xs: 0.7rem;
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
}

/* FOUNDRY */

body {
  font-family: var(--font-sans);
}

button {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

select {
  font-family: var(--font-sans-condensed);
}

form .form-group label {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

form .form-group label {
  line-height: 18px;
  line-height: normal;
}

.header-button,
.window-header,
.playlist-sounds {
  font-family: var(--font-sans-condensed);
}

.setup .form-group label {
  font-size: var(--text-base) !important;
}

.tabs .item {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

.package-list .package .package-controls button {
  width: 130px;
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  line-height: 20px;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
  font-family: var(--font-sans-condensed);
}

.journal-sheet .editor-content {
  font-size: var(--text-base);
}

.directory .directory-list .directory-item {
  font-size: var(--text-sm);
}

.active-effect-sheet .effects-header {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-xs);
}

.sheet.journal-entry-page .journal-header .page-level {
  flex: 0 0 130px;
  margin-left: 0.4rem;
}

.key,
.show-title {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.updated-packages-table th.package,
.updated-packages-table td.package {
  width: 450px;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
  width: 150px;
}

/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
  max-width: 200px;
}

.monks-tokenbar.chat-card .card-header h3 {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-serif);
}

.encounter-cr {
  font-family: var(--font-sans-condensed);
}

.request-roll {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-sans-condensed);
}

.storyteller-tooltip {
  font-family: var(--font-serif);
}

.monks-active-tiles.sheet .items-list .items-header h3,
.monks-active-tiles.sheet .items-list .items-header > * {
  font-family: var(--font-sans-condensed) !important;
}
