@font-face {
  font-family: "Quadrant-Regular";
  src: url("../fonts/Beaufort/Beaufort-Medium.otf");
}

@font-face {
  font-family: "MinionPro";
  src: url("../fonts/MinionPro/MinionPro-Regular.ttf");
}

@font-face {
  font-family: "MinionPro";
  src: url("../fonts/MinionPro/MinionPro-It.ttf");
  font-style: italic;
}

@font-face {
  font-family: "MinionPro";
  src: url("../fonts/MinionPro/MinionPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PompeiStd";
  src: url("../fonts/Beaufort/Beaufort-Regular.otf");
}

@font-face {
  font-family: "PompeiStd";
  src: url("../fonts/Beaufort/Beaufort-Bold.otf");
  font-weight: bold;
}

.counter h3 {
  font-family: var(--font-header);
}

.skill-label {
  margin-left: 2px;
}

.item .content-row .skill-selection > * {
  margin-left: 16px;
}

#menu #menu-items li h4 {
  font-weight: 600;
}
