/* FONTS */
@font-face {
  font-family: "OCR-A";
  src: url("../fonts/ocra_cyr.otf") format("opentype");
}

@font-face {
  font-family: "Changa";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* ALIEN */
.alienrpg .resource-label {
  font-size: 1.025em;
}

/* CRT */

.alien-Push-button {
  background: url(./images/alien_crt_push-button.png) no-repeat top left;
}

.alien-Push-button:hover {
  background: url(./images/alien_crt_push-button_hover.png) no-repeat top left;
}

.creature-attack-roll {
  background: url(./images/alien_crt_roll-attack.png) no-repeat top left;
}

.creature-attack-roll:hover {
  background: url(./images/alien_crt_roll-attack_hover.png) no-repeat top left;
}

:root {
  --alienfont: "OCR-A", sans-serif !important;
  --alienchatfont: "Oswald", sans-serif !important;
}

.alienrpg .dots.radiation {
  padding-bottom: 40px !important;
}

.alienrpg .dots_conditions .dots {
  height: 30px !important;
}

.tooltip {
  font-size: 13px !important;
}
