/* 13TH AGE */

.ability-usage {
  background: #2f3640 !important;
}

.ability-usage--at-will {
  background: #004d40 !important;
}

.ability-usage--once-per-battle {
  background: #bf360c !important;
}

.ability-usage--daily {
  background: #607d8b !important;
}

.ability-usage--recharge {
  background: #0d47a1 !important;
}

.ability-usage--other {
  background: #4527a0 !important;
}

.archmage.sheet,
.archmage.actor-sheet .primary-attributes .attribute .attribute-value,
.archmage .abilities .ability .ability-score > input,
.archmage .abilities .ability .ability-lvl,
.archmage-escalation {
  font-family: "PT Serif", serif !important;
}

.archmage.sheet h1,
.archmage.sheet h2,
.archmage.sheet h3,
.archmage.sheet h4,
.archmage.actor-sheet .sheet-header .charname > input,
.archmage.actor-sheet .sheet-header .charlevel .level,
.archmage.actor-sheet .details .character-detail .attribute-label,
.archmage.actor-sheet .primary-attributes .attribute .attribute-name,
.archmage.actor-sheet .statuses .status h4,
.class-list .item .class-levels,
.class-header h3,
.archmage .abilities .ability-name,
.archmage .abilities .ability-header,
.archmage.actor-sheet .details .character-detail > input,
.archmage-escalation::after,
.archmage.actor-sheet.npc-sheet .charlevel .initiative,
.class-list .item .class-name,
.archmage.actor-sheet .details .character-detail .attribute-label {
  font-family: "PT Serif", serif !important;
}

.inventory-list .item .item-action--standard::before {
  content: "Обыч";
}

.inventory-list .item .item-action--move::before {
  content: "Движ";
}

.inventory-list .item .item-action--quick::before {
  content: "Быст";
}

.inventory-list .item .item-action--free::before {
  content: "Своб";
}
