@font-face {
  font-family: "customChatFont";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "customChatFont";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "customSheetFont";
  src: url("../fonts/Beaufort-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "customSheetFont";
  src: url("../fonts/Beaufort-Medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: "customSheetFont";
  src: url("../fonts/Beaufort-Bold.otf");
  font-weight: bold;
}
