.window-app .window-content {
  background: url(images/dg.jpg);
}

.typewriter-condensed-font{
  font-family: "Oswald", sans-serif !important;
}

.martel-font{
  font-family: "PT Serif", sans-serif !important;
}

.signika-font{
  font-family: "Oswald", sans-serif !important;
}

.atwriter-font{
  font-family: "Roboto", sans-serif !important;
}

.special-elite-font{
  font-family: "Oswald", sans-serif !important;
}

.bio-grid-5col {
  grid-template-columns: 100px 150px 50px 50px auto;
}

.breaking-point-grid-3col {
  grid-template-columns: 150px 70px 65px;
}

.app .window-app .deltagreen .sheet .actor {
  width: 640px;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  border: 1px solid #000;
}

.breaking-point-grid-3col {
  border-top: 1px solid #000;
}

.deltagreen .items-list .item {
  border-bottom: 1px solid #000;
}

.bonds-section-header {
  border-top: 1px solid #000;
}

.bio-grid-top-border {
    border-top: 1px solid #000;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    font-size: 13px;
}