
@font-face {
  font-family: 'atwriter';
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype") !important;
} 

@font-face {
  font-family: TypeWriterCondensed;
  src: url("../fonts/Inter.ttf") format("truetype") !important;
}

@font-face {
  font-family: TypeWriterCondensed;
  font-weight: bold;
  src: url("../fonts/Oswald.ttf") format("truetype") !important;
}

@font-face {
  font-family: TypeWriterCondensed;
  font-weight: 600;
  src: url("../fonts/Oswald.ttf") format("truetype") !important;
}

@font-face {
  font-family: 'SpecialElite';
  src: url("../fonts/ocra_cyr.otf") format("opentype") !important;
}


.typewriter-condensed-font {
  font-family: var(--font-sans-condensed) !important;
}

.martel-font {
  font-family: var(--font-serif) !important;
}

.signika-font {
  font-family: var(--font-sans-condensed) !important;
}

.atwriter-font {
  font-family: var(--font-sci-fi) !important;
}

.special-elite-font {
  font-family: var(--font-sans-condensed) !important;
}

.bio-grid-5col {
  grid-template-columns: 100px 150px 50px 50px auto !important;
}

.breaking-point-grid-3col {
  grid-template-columns: 150px 70px 65px !important;
}

.app .window-app .deltagreen .sheet .actor {
  width: 640px !important;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  border: 1px solid #000 !important;
}

.breaking-point-grid-3col {
  border-top: 1px solid #000 !important;
}

.deltagreen .items-list .item {
  border-bottom: 1px solid #000 !important;
}

.bonds-section-header {
  border-top: 1px solid #000 !important;
}

.bio-grid-top-border {
  border-top: 1px solid #000 !important;
}

.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to {
  font-size: var(--text-sm) !important;
}

.deltagreen .skill-label:hover {
  color: #21641f !important;
  text-shadow: none !important;
}

.not-rollable {
  color: #808080 !important;
  text-shadow: none !important;
}

.deltagreen .not-rollable:hover {
  color: #808080 !important;
  text-shadow: none !important;
}

.deltagreen .tabs .item.active {
  color: #21641f !important;
}

.old-paper-background{
  background-size: cover !important;
  background-repeat: no-repeat !important;
}