.window-app .window-content {
  background: url(images/dg.jpg);
}

.window-app {
  font-family: "Oswald", sans-serif !important;
}

.deltagreen {
  font-family: "Oswald", sans-serif !important;
}

.deltagreen .item-form {
  font-family: "Oswald", sans-serif !important;
}

.bio-grid-5col {
  grid-template-columns: 100px 150px 50px 50px auto !important;
}

.breaking-point-grid-3col {
  grid-template-columns: 150px 70px 65px;
}

.app .window-app .deltagreen .sheet .actor {
  width: 640px !important;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  border: 1px solid #000 !important;
}

.breaking-point-grid-3col {
  border-top: 1px solid #000 !important;
}

.deltagreen .items-list .item {
  border-bottom: 1px solid #000 !important;
}

.bonds-section-header {
  border-top: 1px solid #000 !important;
}

.bio-grid-top-border {
    border-top: 1px solid #000 !important;
}

.chat-message .message-header {
    font-family: "Oswald", sans-serif !important;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    font-size: 13px !important;
}