/* DEMONLORD */

@font-face {
  font-family: "Manuskript";
  src: url("../fonts/manuskriptantd-reg.ttf");
}

.demonlord .sheet-header .charname,
.demonlord .sheet-header .charancestry,
.demonlord .sheet-header .charsex,
.demonlord .accordion .toggleAccordion,
.demonlord2 .resource .resource-label,
.demonlord2.item .template-type,
.demonlord2.item .items-list {
  font-family: "PT Serif", serif !important;
}

.demonlord2 form {
  font-family: "PT Serif", serif !important;
}

.demonlord2.item .items-list li.level div.levelheader {
  font-family: "Oswald", sans-serif !important;
}

.demonlord2.actor .sheet-header .attributes .attributebox .attributetext {
  font-family: "Manuskript", serif !important;
}

.window-app .window-header {
  font-family: "Manuskript", serif !important;
}

#sidebar h2 {
  font-family: "Manuskript", serif !important;
}

#sidebar button {
  font-family: "Manuskript", serif !important;
}

.sidebar-tab .directory-list .directory-item h3 {
  font-family: "Manuskript", serif !important;
}

.sidebar-tab .directory-list .directory-item h4 {
  font-family: "Manuskript", serif !important;
}

#chat-controls div.roll-type-select select {
  font-family: "Manuskript", serif !important;
}

#chat-log .message .message-header .message-sender,
#chat-log .message .message-header .message-metadata {
  font-family: "Manuskript", serif !important;
}

#hotbar {
  font-family: "Manuskript", serif !important;
}

#navigation #scene-list .scene {
  font-family: "Manuskript", serif !important;
}

#players {
  font-family: "Manuskript", serif !important;
}

#combat li.combatant .token-initiative {
  font-family: "Manuskript", serif !important;
  font-size: 12px !important;
}

#scenes .scene h3 {
  font-family: "Manuskript", serif !important;
}

#combat #combat-round .encounters h3,
#combat #combat-controls a.center {
  font-family: "Manuskript", serif !important;
}

.demonlord .form-block .creature-list .creature-entry .header h4 {
  font-family: "Manuskript", serif !important;
}

.demonlord .affliction {
  font-family: "Oswald", sans-serif !important;
  font-size: 13px !important;
}

.demonlord2.actor .sheet-header .attributes .attributebox .attributetextper {
  font-family: "Manuskript", serif !important;
}

.demonlord2.actor nav.sheet-navigation {
  font-family: "Manuskript", serif !important;
  font-size: 11px !important;
}

.demonlord .form-block .form-modline {
  font-family: "Oswald", sans-serif !important;
  font-size: 11px !important;
}

.demonlord .form-block .items-list .affliction label,
.affliction label {
  margin-top: 0px;
}

.demonlord .form-block .items-list .affliction label, .affliction label {
  font-family: "Oswald", sans-serif !important;
  font-size: 13px !important;
}

#disableafflictions {
  font-family: "Oswald", sans-serif !important;
  font-size: 13px !important;
  font-weight: bold;
}

.demonlord2.actor .sheet-header .header-fields .leveltext {
  font-family: "Manuskript", serif !important;
}

.newcreature.actor .sheet-header .attributes .attributebox .attributetext {
  font-family: "Manuskript", serif !important;
}

.newcreature.actor .sheet-header .header-fields .leveltext {
  font-family: "Manuskript", serif !important;
}

.newcreature.actor .sheet-header .attributes .attributebox .attributetextper {
  font-family: "Manuskript", serif !important;
}

#pause h3,
#menu #menu-items li h4 {
  font-family: "Manuskript", serif !important;
}