.dnd5e.sheet .sheet-header .header-details {
    font-family: "PT Serif", serif;
}

.dnd5e .form-header {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet .sheet-header {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

.dnd5e.sheet .sheet-header h1 input {
    font-size: 24px;
}

.dnd5e.sheet .sheet-navigation {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.dnd5e.sheet.actor ul.attributes li.attribute {
    font-family: "PT Serif", serif;
}

.dnd5e.sheet.actor .sheet-header .summary input {
    font-family: "PT Serif", serif;
    font-size: 13px;
}

.dnd5e.sheet.actor .ability-scores .ability {
    height: 71px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
}

.dnd5e.sheet.actor .counters .counter h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.dnd5e.sheet .items-list .item-controls a {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.dnd5e.sheet .filter-list .filter-item {
    font-family: "Oswald", sans-serif;
}

.dnd5e.sheet.actor ul.skills-list li.skill h4 {
    font-family: "Oswald", sans-serif;
}

.dnd5e.sheet.actor .traits label {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.dnd5e.sheet.actor .spellcasting-ability label,
.dnd5e.sheet.actor .spellcasting-ability span {
    font-family: "Oswald", sans-serif;
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet .items-list .items-header h3 {
    font-family: "PT Serif", serif;
}

.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet.actor h4.box-title {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 4px 8px 4px 4px;
}

.dnd5e.sheet.actor .sheet-header .summary {
    font-size: 15px;
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.dnd5e.sheet.actor.character ul.skills-list {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.dnd5e label.checkbox {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
}

.dnd5e.sheet .items-list .items-header .item-name {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 16px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
    font-family: "PT Serif", serif;
    font-size: 15px;
    height: 27px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .hit-dice {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 20px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value>* {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 20px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp>label {
    font-size: 24px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level input {
    font-size: 24px;
}

.dnd5e.sheet.actor .inventory-list .item-detail {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet .sheet-header .summary li {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
    font-family: "PT Serif", serif;
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
    font-size: 12px;
}

.dnd5e.chat-card .card-header h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.dnd5e.sheet.actor .inventory-list .item-summary {
    font-size: 13px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
    font-size: 11px;
}

.dnd5e.sheet.actor.character .characteristics label {
    font-family: "PT Serif", serif;
}

.dnd5e.sheet.actor.npc .header-exp .cr {
    font-family: "PT Serif", serif;
    font-size: 20px;
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group label {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

.dnd5e.sheet.actor ul.skills-list {
    flex: 0 0 185px;
    margin: 0 3px 0;
    border: none;
}

.dnd5e.sheet.actor.character ul.skills-list {
    flex: 0 0 200px;
}

.dnd5e.sheet.actor ul.skills-list li.skill h4 {
    font-size: 12px;
    overflow: hidden;
}

.dnd5e.sheet .items-list .items-header {
    font-family: "Oswald", sans-serif;
}

.dnd5e.sheet.actor .ability-scores {
    font-family: "PT Serif", serif;
    font-weight: bold;
}

.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
    font-family: "PT Serif", serif;
    font-weight: bold;
}

.dnd5e.sheet.actor .spellcasting-ability select {
    flex: 0 0 100px;
}

.dnd5e.sheet.actor .sheet-header .attributes .attribute {
    height: 73px;
}


/* TIDY5E */

.system-dnd5e {
    --modesto: "PT Serif", serif;
    --signika: "Oswald", sans-serif;
}

.tidy5e.sheet.item .sheet-header .item-subtitle .item-type {
    font-size: 14px;
}

.tidy5e.sheet.item .sheet-header .item-subtitle .item-status {
    font-size: 14px;
}

.tidy5e.sheet.item .sheet-body .item-properties .form-group {
    font-family: var(--signika);
}