:root {
  --color-red-dnd: #58180d;
  --color-yellow-dnd: #c9ad6a;
  --color-green-dnd: #e0e5c1;
}

.bg-red-dnd {
  background-color: var(--color-red-dnd) !important;
  color: var(--color-white);
}

.bg-yellow-dnd {
  background-color: var(--color-yellow-dnd) !important;
  color: var(--color-black);
}

.bg-green-dnd {
  background-color: var(--color-green-dnd) !important;
  color: var(--color-black);
}

.color-red-dnd {
  color: var(--color-red-dnd) !important;
}

.color-yellow-dnd {
  color: var(--color-yellow-dnd) !important;
}

.color-green-dnd {
  color: var(--color-green-dnd) !important;
}

.border-color-red-dnd {
  border-color: var(--color-red-dnd) !important;
}

.border-color-yellow-dnd {
  border-color: var(--color-yellow-dnd) !important;
}

.border-color-green-dnd {
  border-color: var(--color-green-dnd) !important;
}

.dnd5e.sheet .sheet-header .header-details {
  font-family: var(--font-serif);
}

.dnd5e .form-header {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header h1 input {
  font-size: var(--text-3xl);
}

.dnd5e.sheet .sheet-navigation {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor ul.attributes li.attribute {
  font-family: var(--font-serif);
}

.dnd5e.sheet.actor .sheet-header .summary input {
  font-family: var(--font-serif);
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor .ability-scores .ability {
  height: 71px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-xs);
}

.dnd5e.sheet.actor .counters .counter h4 {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .item-controls a {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-sm);
}

.dnd5e.sheet .filter-list .filter-item {
  font-family: var(--font-sans-condensed);
}

.dnd5e.sheet.actor .traits label {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor .spellcasting-ability label,
.dnd5e.sheet.actor .spellcasting-ability span {
  font-family: var(--font-sans-condensed);
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .items-header h3 {
  font-family: var(--font-serif);
}

.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor h4.box-title {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  font-weight: 500;
  padding: 0px;
}

.dnd5e.sheet.actor .sheet-header .summary {
  font-size: var(--text-base);
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  overflow: hidden;
}

.dnd5e.sheet.actor.character ul.skills-list {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  overflow: hidden;
}

.dnd5e label.checkbox {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet .items-list .items-header .item-name {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: var(--text-base);
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
  font-family: var(--font-serif);
  font-size: var(--text-base);
  height: 27px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .hit-dice {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: var(--text-xl);
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value > * {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: var(--text-xl);
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp > label {
  font-size: var(--text-xl);
}

.dnd5e.sheet.actor .sheet-header .charlevel .level input {
  font-size: var(--text-xl);
}

.dnd5e.sheet.actor .inventory-list .item-detail {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet .sheet-header .summary li {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
  font-family: var(--font-serif);
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
  font-size: var(--text-xs);
}

.dnd5e.chat-card .card-header h3 {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
  font-size: var(--text-base);
}

.dnd5e.sheet.actor .inventory-list .item-summary {
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  color: var(--color-gray-500);
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
  font-size: var(--text-xs);
}

.dnd5e.sheet.actor.character .characteristics label {
  font-family: var(--font-serif);
}

.dnd5e.sheet.actor.npc .header-exp .cr {
  font-family: var(--font-serif);
  font-size: var(--text-xl);
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group label {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-base);
}

.dnd5e.sheet.item .weapon-properties label {
  font-size: var(--text-xs) !important;
  font-weight: 500 !important;
}

.dnd5e .form-group label {
  font-weight: 500 !important;
}

.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 185px;
  margin: 0 3px 0;
  border: none;
}

.dnd5e.sheet.actor.character ul.skills-list {
  flex: 0 0 200px;
}

.dnd5e.sheet.actor ul.skills-list li.skill h4 {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  overflow: hidden;
}

.dnd5e.sheet .items-list .items-header {
  font-family: var(--font-sans-condensed);
  font-weight: 500;
}

.dnd5e.sheet.actor .ability-scores {
  font-family: var(--font-serif);
  font-weight: bold;
  color: var(--color-gray-500);
}

.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
  font-family: var(--font-serif);
  font-weight: bold;
}

.dnd5e.sheet.actor .spellcasting-ability select {
  flex: 0 0 100px;
}

.dnd5e.sheet.actor .sheet-header .attributes .attribute {
  height: 73px;
}

.dnd5e.sheet.actor.npc .header-exp {
  flex: 0 0 120px;
}

.dnd5e.sheet.actor.npc .header-exp .experience,
.dnd5e.sheet.actor.npc .header-exp .proficiency {
  font-size: var(--text-sm);
}

.dnd5e.sheet.actor .attribute-name {
  padding: 2px;
}

/* TIDY5E */

.system-dnd5e {
  --modesto: "PT Serif", serif;
  --signika: "Oswald", sans-serif;
}

.tidy5e.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: var(--text-sm);
}

.tidy5e.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: var(--text-sm);
}

.tidy5e.sheet.item .sheet-body .item-properties .form-group {
  font-family: var(--signika);
}

.tidy5e.sheet.actor .header-attributes .ac-display .attribute-value {
  top: 30%;
}

.tidy5e.sheet.actor .list-layout .items-list .item .item-name {
  font-size: var(--text-sm);
}
