/* FORBIDDEN LANDS */

:root {
  --font-editor: "PT Serif", "Georgia", serif;
  --font-input: "Roboto", "Arial", sans-serif;
  --font-special: "Manuskript", "Georgia", serif;
  --font-subheader: "Manuskript", "Georgia", serif;
  --font-table: "Roboto", "Arial", sans-serif;
}

.forbidden-lands .conditions a.condition {
  flex-basis: 100%;
}

.forbidden-lands .character .currencies .header b {
  font-size: 14px;
}

.forbidden-lands.item .tabs .tab-item, .forbidden-lands .tabs .item {
  font-size: 14px;
}

.fbl-core {
  font-family: "PT Serif", serif;
}

.fbl-core h1, .fbl-core h2, .fbl-core h3, .fbl-core h4 {
  font-family: "Manuskript", serif;
}

button {
  font-family: "Manuskript", serif;
}

#pause h3 {
  font-family: "Manuskript", serif;
}

li.folder.collapsed > .folder-header h3 {
  font-size: 16px;
}

.app.window-app.sheet.journal-sheet form input[name="name"] {
  font-family: "Manuskript", serif;
}

.fbl-inline-heading {
  font-family: "Manuskript", serif;
}

.forbidden-lands.chat-item h3 {
  font-family: "PT Serif", serif;
}

.forbidden-lands.chat-item .link-header:hover h3 {
  font-family: "PT Serif", serif;
}

.forbidden-lands.chat-item .link-header a {
  font-family: "PT Serif", serif;
}

.message-content .entity-link {
  font-family: "PT Serif", serif;
}

.forbidden-lands .main-tab {
  gap: 6px;
  grid-template-columns: 1.1fr 0.9fr;
}

.forbidden-lands .attributes {
  gap: 4px 2px;
}

#menu #menu-items li h4 {
  font-family: "Manuskript", serif;
}

.chat-message .message-header .message-sender {
  font-family: "PT Serif", serif;
}

#players h3 {
  font-family: "Manuskript", serif;
}

#players ol .player-name {
  font-family: "PT Serif", serif;
}

.forbidden-lands .roll-attribute {
  padding: 1px 1px;
}