/* IM Fell DW Pica SC */
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_Italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_SemiBold_Italic.otf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Maecenas/Maecenas_Bold_Italic.otf");
  font-style: italic;
  font-weight: 700;
}

/* IM Fell DW Pica SC */
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_Bold.otf");
  font-weight: 700;
  text-transform: uppercase;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_Bold_Italic.otf");
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_SemiBold.otf");
  font-weight: 600;
  text-transform: uppercase;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_SemiBold_Italic.otf");
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_Regular.otf");
  font-weight: 400;
  text-transform: uppercase;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Maecenas/Maecenas_Italic.otf");
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

/* IM Fell Three Line Pica */
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_Bold_Italic.otf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_SemiBold_Italic.otf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Maecenas/Maecenas_Italic.otf");
  font-style: italic;
  font-weight: 400;
}

/* IM Fell Great Primer */
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_Bold_Italic.otf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_SemiBold_Italic.otf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Maecenas/Maecenas_Italic.otf");
  font-style: italic;
  font-weight: 400;
}

/* Poppins */
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

/* Branding */
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Branding;
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

:root {
  font-size: 100% !important;
  --font-size--extra-small: var(--font-size-11);
  --font-size--very-small: var(--font-size-12);
  --font-size--small: var(--font-size-13);
  --font-size--default: var(--font-size-14);
  --font-size--large: var(--font-size-16);
  --font-size--extra-large: var(--font-size-18);
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;
}

body,
button {
  font-size: var(--font-size-14);
}

button {
  font-family: Poppins;
}

.fbl-button {
  padding: 0.2em 1em;
  width: max(100%);
}

.fa-comments,
.fa-suitcase {
  font-size: var(--font-size-16);
}

.forbidden-lands .sheet-tabs .tab-item {
  font-size: var(--font-size-14);
  padding: 6px 12px;
}

.forbidden-lands .character .critical-injuries .critical-injury .healtime {
  flex-basis: 35%;
}

.forbidden-lands .roll-action {
  font-family: Poppins;
  font-weight: 600;
  font-size: var(--font-size-14);
}

.forbidden-lands .character .conditions-grid {
  display: flex;
  flex-flow: column;
  gap: 5% 5%;
  place-content: space-between;
  padding: 5% 5%;
}

.forbidden-lands .conditions-grid a.condition {
  display: inline-flex;
  justify-content: space-between !important;
  grid: none;
}

.journal-sheet .fbl-italic {
  font-style: italic;
}

.journal-sheet .fbl-centered {
  text-align: center;
}

.journal-sheet .fbl-italic.fbl-centered {
  font-size: var(--font-size-18);
}

.journal-sheet .pages-list {
  font-family: Poppins;
}

/* TEMP FIX UNTIL FREE LEAGUE HANDLE THIS */
.journal-sheet .big-first-char {
  float: left;
  font-size: var(--text-7xl);
  line-height: var(--text-5xl);
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
/* TEMP FIX UNTIL FREE LEAGUE HANDLE THIS */
.journal-sheet .big-first-char::before {
  visibility: hidden;
  display: none;
}

.fbl-branding-bold,
.fbl-branding {
  font-family: Branding;
}

.fbl-branding-bold {
  font-weight: 500;
}

.journal-sheet h2,
.journal-sheet h3 {
  font-weight: 700;
}

.journal-sheet .fbl-uppercase,
.journal-sheet .fbl-uppercase .fbl-inline-heading {
  font-weight: 600;
  text-transform: uppercase;
}

.forbidden-lands .roll-skill,
.forbidden-lands .roll-attribute,
.forbidden-lands .conditions-grid a.condition {
  font-family: Poppins;
  font-weight: 600;
  font-size: var(--font-size-14);
}

.forbidden-lands .gear-tab .gears .items > table thead {
  font-size: var(--font-size-11);
}

.forbidden-lands .travel-action-header {
  font-family: Poppins;
  text-transform: uppercase;
}

button,
select,
select option,
.journal-sheet h4,
.journal-sheet .journal-header .title,
.journal-sheet .page-title,
.forbidden-lands input[type="text"],
.forbidden-lands input[type="number"],
.forbidden-lands .attributes .value,
.forbidden-lands .skills .value,
.forbidden-lands .attributes .value input,
.forbidden-lands .item-list .items .item,
.forbidden-lands .gear-tab .gears .items > table th,
.forbidden-lands .gear-tab .gears .items > table td,
.combat-sidebar li.combatant .token-name h4 {
  font-weight: 600;
}

.forbidden-lands .attributes,
.forbidden-lands .skills {
  gap: 2px 2px;
  padding: 0 4px 4px;
}

.forbidden-lands div.value {
  justify-content: space-between;
}

.forbidden-lands .attributes .rotated {
  transform: none;
  font-size: var(--font-size-12);
}

.forbidden-lands .attributes .fa-slash:before {
  content: "/";
  font-size: var(--font-size-12);
  padding: 0px;
}

.forbidden-lands.item .weight {
  gap: 0px;
}

.forbidden-lands.sheet label {
  font-size: var(--font-size-14);
  font-family: Poppins;
}

.combat-sidebar li.combatant .token-name,
.combat-sidebar li.combatant .token-initiative .initiative {
  text-shadow: none;
  font-family: Poppins;
  font-weight: 600;
}

.combat-sidebar li.combatant .token-initiative {
  flex: 0 0 45px;
}

.combat-sidebar li.combatant .token-image {
  margin-left: 2px;
}

.combat-sidebar #combat-controls a {
  font-family: Poppins;
  font-weight: 700;
}

.combat-sidebar li.combatant .token-initiative {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #000000 !important;
}

.directory .directory-item.context,
.directory .directory-item.active {
  border-color: #000000 !important;
}

#menu {
  font-family: Poppins;
}
