@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: IM Fell DW Pica;
  src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: IM Fell DW Pica SC;
  src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: IM Fell Three Line Pica;
  src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: IM Fell Great Primer;
  src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
}
@font-face {
	font-family: "Branding";
	src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}
@font-face {
	font-family: "Branding";
	src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Branding";
	src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: "Branding";
	src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf");
  font-style: italic;
	font-weight: 700;
}

:root {
  font-size: 90% !important;
  --font-size--extra-small: var(--font-size-11);
  --font-size--very-small: var(--font-size-12);
  --font-size--small: var(--font-size-13);
  --font-size--default: var(--font-size-14);
  --font-size--large: var(--font-size-16);
  --font-size--extra-large: var(--font-size-18);
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;
}

body,
button {
	font-family: var(--font-sans);
	font-size: var(--font-size-14);
}


.fa-comments,
.fa-suitcase { 
  font-size: var(--font-size-16);
}

.forbidden-lands .sheet-tabs .tab-item {
  font-size: var(--font-size-16);
  line-height: 1.2;
}

.forbidden-lands .character .critical-injuries .critical-injury .healtime {
  flex-basis: 35%;
}

.forbidden-lands .roll-action {
  font-family: var(--font-sans-condensed);
}