/* CUSTOM DECORATIVE STYLES */

.journal-sheet .editor-content {
  font-family: var(--font-serif);
  font-size: var(--text-base);
}

/* BADGE */

.journal-sheet .editor-content .badge {
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px;
  border-color: transparent;
  border-radius: 1rem;
}

/* FONT FAMILY */

.journal-sheet .editor-content .font-sans {
  font-family: var(--font-sans) !important;
}

.journal-sheet .editor-content .font-serif {
  font-family: var(--font-serif) !important;
}

.journal-sheet .editor-content .font-condensed {
  font-family: var(--font-sans-condensed) !important;
}

.journal-sheet .editor-content .font-fantasy {
  font-family: var(--font-serif-fantasy) !important;
}

/* FONT PROPERTY */

.journal-sheet .editor-content .text-italic {
  font-style: italic !important;
}

.journal-sheet .editor-content .text-bold {
  font-weight: bold !important;
}

.journal-sheet .editor-content .text-light {
  font-weight: lighter !important;
}

.journal-sheet .editor-content .text-normal {
  font-weight: normal !important;
}

.journal-sheet .editor-content .text-small-caps {
  font-variant: small-caps !important;
}

.journal-sheet .editor-content .text-uppercase {
  text-transform: uppercase !important;
}

.journal-sheet .editor-content .text-underline {
  text-decoration: underline !important;
}

.journal-sheet .editor-content .text-dashed {
  text-decoration: dashed !important;
}

/* TEXT SIZE */

.journal-sheet .editor-content .text-xs {
  font-size: var(--text-xs) !important;
  line-height: 1rem !important;
}

.journal-sheet .editor-content .text-sm {
  font-size: var(--text-sm) !important;
  line-height: 1.25rem !important;
}

.journal-sheet .editor-content .text-base {
  font-size: var(--text-base) !important;
  line-height: 1.5rem;
}

.journal-sheet .editor-content .text-lg {
  font-size: var(--text-lg) !important;
  line-height: 1.75rem;
}

.journal-sheet .editor-content .text-xl {
  font-size: var(--text-xl) !important;
  line-height: 1.75rem;
}

.journal-sheet .editor-content .text-2xl {
  font-size: var(--text-2xl) !important;
  line-height: 2rem;
}

.journal-sheet .editor-content .text-3xl {
  font-size: var(--text-3xl) !important;
  line-height: 2.25rem;
}

.journal-sheet .editor-content .text-4xl {
  font-size: var(--text-4xl) !important;
  line-height: 2.5rem;
}

.journal-sheet .editor-content .text-5xl {
  font-size: var(--text-5xl) !important;
  line-height: 1;
}

.journal-sheet .editor-content .text-6xl {
  font-size: var(--text-6xl) !important;
  line-height: 1;
}

.journal-sheet .editor-content .text-7xl {
  font-size: var(--text-7xl) !important;
  line-height: 1;
}

.journal-sheet .editor-content .text-8xl {
  font-size: var(--text-8xl) !important;
  line-height: 1;
}

/* BACKGROUND */

.journal-sheet .editor-content .bg-black {
  background-color: var(--color-black) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-white {
  background-color: var(--color-white) !important;
  color: var(--color-black);
}

.journal-sheet .editor-content .bg-pink-300 {
  background-color: var(--color-pink-300) !important;
}

.journal-sheet .editor-content .bg-pink-500 {
  background-color: var(--color-pink-500) !important;
}

.journal-sheet .editor-content .bg-pink-700 {
  background-color: var(--color-pink-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-pink-900 {
  background-color: var(--color-pink-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-rose-300 {
  background-color: var(--color-rose-300) !important;
}

.journal-sheet .editor-content .bg-rose-500 {
  background-color: var(--color-rose-500) !important;
}

.journal-sheet .editor-content .bg-rose-700 {
  background-color: var(--color-rose-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-rose-900 {
  background-color: var(--color-rose-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-red-300 {
  background-color: var(--color-red-300) !important;
}

.journal-sheet .editor-content .bg-red-500 {
  background-color: var(--color-red-500) !important;
}

.journal-sheet .editor-content .bg-red-700 {
  background-color: var(--color-red-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-red-900 {
  background-color: var(--color-red-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-orange-300 {
  background-color: var(--color-orange-300) !important;
}

.journal-sheet .editor-content .bg-orange-500 {
  background-color: var(--color-orange-500) !important;
}

.journal-sheet .editor-content .bg-orange-700 {
  background-color: var(--color-orange-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-orange-900 {
  background-color: var(--color-orange-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-yellow-300 {
  background-color: var(--color-yellow-300) !important;
}

.journal-sheet .editor-content .bg-yellow-500 {
  background-color: var(--color-yellow-500) !important;
}

.journal-sheet .editor-content .bg-yellow-700 {
  background-color: var(--color-yellow-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-yellow-900 {
  background-color: var(--color-yellow-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-lime-300 {
  background-color: var(--color-lime-300) !important;
}

.journal-sheet .editor-content .bg-lime-500 {
  background-color: var(--color-lime-500) !important;
}

.journal-sheet .editor-content .bg-lime-700 {
  background-color: var(--color-lime-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-lime-900 {
  background-color: var(--color-lime-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-green-300 {
  background-color: var(--color-green-300) !important;
}

.journal-sheet .editor-content .bg-green-500 {
  background-color: var(--color-green-500) !important;
}

.journal-sheet .editor-content .bg-green-700 {
  background-color: var(--color-green-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-green-900 {
  background-color: var(--color-green-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-emerald-300 {
  background-color: var(--color-emerald-300) !important;
}

.journal-sheet .editor-content .bg-emerald-500 {
  background-color: var(--color-emerald-500) !important;
}

.journal-sheet .editor-content .bg-emerald-700 {
  background-color: var(--color-emerald-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-emerald-900 {
  background-color: var(--color-emerald-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-teal-300 {
  background-color: var(--color-teal-300) !important;
}

.journal-sheet .editor-content .bg-teal-500 {
  background-color: var(--color-teal-500) !important;
}

.journal-sheet .editor-content .bg-teal-700 {
  background-color: var(--color-teal-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-teal-900 {
  background-color: var(--color-teal-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-cyan-300 {
  background-color: var(--color-cyan-300) !important;
}

.journal-sheet .editor-content .bg-cyan-500 {
  background-color: var(--color-cyan-500) !important;
}

.journal-sheet .editor-content .bg-cyan-700 {
  background-color: var(--color-cyan-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-cyan-900 {
  background-color: var(--color-cyan-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-blue-300 {
  background-color: var(--color-blue-300) !important;
}

.journal-sheet .editor-content .bg-blue-500 {
  background-color: var(--color-blue-500) !important;
}

.journal-sheet .editor-content .bg-blue-700 {
  background-color: var(--color-blue-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-blue-900 {
  background-color: var(--color-blue-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-indigo-300 {
  background-color: var(--color-indigo-300) !important;
}

.journal-sheet .editor-content .bg-indigo-500 {
  background-color: var(--color-indigo-500) !important;
}

.journal-sheet .editor-content .bg-indigo-700 {
  background-color: var(--color-indigo-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-indigo-900 {
  background-color: var(--color-indigo-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-purple-300 {
  background-color: var(--color-purple-300) !important;
}

.journal-sheet .editor-content .bg-purple-500 {
  background-color: var(--color-purple-500) !important;
}

.journal-sheet .editor-content .bg-purple-700 {
  background-color: var(--color-purple-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-purple-900 {
  background-color: var(--color-purple-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-fuchsia-300 {
  background-color: var(--color-fuchsia-300) !important;
}

.journal-sheet .editor-content .bg-fuchsia-500 {
  background-color: var(--color-fuchsia-500) !important;
}

.journal-sheet .editor-content .bg-fuchsia-700 {
  background-color: var(--color-fuchsia-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-fuchsia-900 {
  background-color: var(--color-fuchsia-900) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-gray-300 {
  background-color: var(--color-gray-300) !important;
}

.journal-sheet .editor-content .bg-gray-500 {
  background-color: var(--color-gray-500) !important;
}

.journal-sheet .editor-content .bg-gray-700 {
  background-color: var(--color-gray-700) !important;
  color: var(--color-white);
}

.journal-sheet .editor-content .bg-gray-900 {
  background-color: var(--color-gray-900) !important;
  color: var(--color-white);
}

/* FONT COLOR */

.journal-sheet .editor-content .color-black {
  color: var(--color-black) !important;
}

.journal-sheet .editor-content .color-white {
  color: var(--color-white) !important;
}

.journal-sheet .editor-content .color-pink-300 {
  color: var(--color-pink-300) !important;
}

.journal-sheet .editor-content .color-pink-500 {
  color: var(--color-pink-500) !important;
}

.journal-sheet .editor-content .color-pink-700 {
  color: var(--color-pink-700) !important;
}

.journal-sheet .editor-content .color-pink-900 {
  color: var(--color-pink-900) !important;
}

.journal-sheet .editor-content .color-rose-300 {
  color: var(--color-rose-300) !important;
}

.journal-sheet .editor-content .color-rose-500 {
  color: var(--color-rose-500) !important;
}

.journal-sheet .editor-content .color-rose-700 {
  color: var(--color-rose-700) !important;
}

.journal-sheet .editor-content .color-rose-900 {
  color: var(--color-rose-900) !important;
}

.journal-sheet .editor-content .color-red-300 {
  color: var(--color-red-300) !important;
}

.journal-sheet .editor-content .color-red-500 {
  color: var(--color-red-500) !important;
}

.journal-sheet .editor-content .color-red-700 {
  color: var(--color-red-700) !important;
}

.journal-sheet .editor-content .color-red-900 {
  color: var(--color-red-900) !important;
}

.journal-sheet .editor-content .color-orange-300 {
  color: var(--color-orange-300) !important;
}

.journal-sheet .editor-content .color-orange-500 {
  color: var(--color-orange-500) !important;
}

.journal-sheet .editor-content .color-orange-700 {
  color: var(--color-orange-700) !important;
}

.journal-sheet .editor-content .color-orange-900 {
  color: var(--color-orange-900) !important;
}

.journal-sheet .editor-content .color-yellow-300 {
  color: var(--color-yellow-300) !important;
}

.journal-sheet .editor-content .color-yellow-500 {
  color: var(--color-yellow-500) !important;
}

.journal-sheet .editor-content .color-yellow-700 {
  color: var(--color-yellow-700) !important;
}

.journal-sheet .editor-content .color-yellow-900 {
  color: var(--color-yellow-900) !important;
}

.journal-sheet .editor-content .color-lime-300 {
  color: var(--color-lime-300) !important;
}

.journal-sheet .editor-content .color-lime-500 {
  color: var(--color-lime-500) !important;
}

.journal-sheet .editor-content .color-lime-700 {
  color: var(--color-lime-700) !important;
}

.journal-sheet .editor-content .color-lime-900 {
  color: var(--color-lime-900) !important;
}

.journal-sheet .editor-content .color-green-300 {
  color: var(--color-green-300) !important;
}

.journal-sheet .editor-content .color-green-500 {
  color: var(--color-green-500) !important;
}

.journal-sheet .editor-content .color-green-700 {
  color: var(--color-green-700) !important;
}

.journal-sheet .editor-content .color-green-900 {
  color: var(--color-green-900) !important;
}

.journal-sheet .editor-content .color-emerald-300 {
  color: var(--color-emerald-300) !important;
}

.journal-sheet .editor-content .color-emerald-500 {
  color: var(--color-emerald-500) !important;
}

.journal-sheet .editor-content .color-emerald-700 {
  color: var(--color-emerald-700) !important;
}

.journal-sheet .editor-content .color-emerald-900 {
  color: var(--color-emerald-900) !important;
}

.journal-sheet .editor-content .color-teal-300 {
  color: var(--color-teal-300) !important;
}

.journal-sheet .editor-content .color-teal-500 {
  color: var(--color-teal-500) !important;
}

.journal-sheet .editor-content .color-teal-700 {
  color: var(--color-teal-700) !important;
}

.journal-sheet .editor-content .color-teal-900 {
  color: var(--color-teal-900) !important;
}

.journal-sheet .editor-content .color-cyan-300 {
  color: var(--color-cyan-300) !important;
}

.journal-sheet .editor-content .color-cyan-500 {
  color: var(--color-cyan-500) !important;
}

.journal-sheet .editor-content .color-cyan-700 {
  color: var(--color-cyan-700) !important;
}

.journal-sheet .editor-content .color-cyan-900 {
  color: var(--color-cyan-900) !important;
}

.journal-sheet .editor-content .color-blue-300 {
  color: var(--color-blue-300) !important;
}

.journal-sheet .editor-content .color-blue-500 {
  color: var(--color-blue-500) !important;
}

.journal-sheet .editor-content .color-blue-700 {
  color: var(--color-blue-700) !important;
}

.journal-sheet .editor-content .color-blue-900 {
  color: var(--color-blue-900) !important;
}

.journal-sheet .editor-content .color-indigo-300 {
  color: var(--color-indigo-300) !important;
}

.journal-sheet .editor-content .color-indigo-500 {
  color: var(--color-indigo-500) !important;
}

.journal-sheet .editor-content .color-indigo-700 {
  color: var(--color-indigo-700) !important;
}

.journal-sheet .editor-content .color-indigo-900 {
  color: var(--color-indigo-900) !important;
}

.journal-sheet .editor-content .color-purple-300 {
  color: var(--color-purple-300) !important;
}

.journal-sheet .editor-content .color-purple-500 {
  color: var(--color-purple-500) !important;
}

.journal-sheet .editor-content .color-purple-700 {
  color: var(--color-purple-700) !important;
}

.journal-sheet .editor-content .color-purple-900 {
  color: var(--color-purple-900) !important;
}

.journal-sheet .editor-content .color-fuchsia-300 {
  color: var(--color-fuchsia-300) !important;
}

.journal-sheet .editor-content .color-fuchsia-500 {
  color: var(--color-fuchsia-500) !important;
}

.journal-sheet .editor-content .color-fuchsia-700 {
  color: var(--color-fuchsia-700) !important;
}

.journal-sheet .editor-content .color-fuchsia-900 {
  color: var(--color-fuchsia-900) !important;
}

.journal-sheet .editor-content .color-gray-300 {
  color: var(--color-gray-300) !important;
}

.journal-sheet .editor-content .color-gray-500 {
  color: var(--color-gray-500) !important;
}

.journal-sheet .editor-content .color-gray-700 {
  color: var(--color-gray-700) !important;
}

.journal-sheet .editor-content .color-gray-900 {
  color: var(--color-gray-900) !important;
}
