/* CUSTOM DECORATIVE STYLES */

.journal-sheet .editor-content {
  font-family: var(--font-serif);
  font-size: var(--text-base);
}

/* BADGE */

.badge {
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px;
  border-color: transparent;
  border-radius: 1rem;
}

/* ALERT */
/*
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
*/

/* COLLAPSE */

.collapse {
  margin-bottom: 1.2rem 0;
}

.collapse > input[type="checkbox"] {
  display: none;
}

.collapse-toggle {
  display: block;
  font-size: var(--text-base);
  color: var(--color-white);
  background-color: var(--color-gray-700);
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.25s ease-out;
}

.collapse-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .collapse-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapse-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .collapse-toggle + .collapse-content {
  max-height: 100vh;
}

.collapse-content .collapse-content-inner {
  font-size: var(--text-sm);
  background-color: transparent;
  padding: 0.3rem 0.3rem;
}

/* FONT FAMILY */

.font-sans {
  font-family: var(--font-sans) !important;
}

.font-serif {
  font-family: var(--font-serif) !important;
}

.font-sans-condensed {
  font-family: var(--font-sans-condensed) !important;
}

.font-serif-fantasy {
  font-family: var(--font-serif-fantasy) !important;
}

.font-mono {
  font-family: var(--font-mono) !important;
}

.font-cursive {
  font-family: var(--font-cursive) !important;
}

/* FONT PROPERTY */

.text-italic {
  font-style: italic !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-light {
  font-weight: lighter !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-small-caps {
  font-variant: small-caps !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-dashed {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
}

.text-dotted {
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.text-wavy {
  text-decoration: underline !important;
  text-decoration-style: wavy !important;
}

/* TEXT SIZE */

.text-xs {
  font-size: var(--text-xs) !important;
  line-height: 1rem !important;
}

.text-sm {
  font-size: var(--text-sm) !important;
  line-height: 1.25rem !important;
}

.text-base {
  font-size: var(--text-base) !important;
  line-height: 1.5rem;
}

.text-lg {
  font-size: var(--text-lg) !important;
  line-height: 1.75rem;
}

.text-xl {
  font-size: var(--text-xl) !important;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: var(--text-2xl) !important;
  line-height: 2rem;
}

.text-3xl {
  font-size: var(--text-3xl) !important;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: var(--text-4xl) !important;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: var(--text-5xl) !important;
  line-height: 1;
}

.text-6xl {
  font-size: var(--text-6xl) !important;
  line-height: 1;
}

.text-7xl {
  font-size: var(--text-7xl) !important;
  line-height: 1;
}

.text-8xl {
  font-size: var(--text-8xl) !important;
  line-height: 1;
}

/* BACKGROUND */

.bg-black {
  background-color: var(--color-black) !important;
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white) !important;
  color: var(--color-black);
}

.bg-pink-300 {
  background-color: var(--color-pink-300) !important;
  color: var(--color-black);
}

.bg-pink-500 {
  background-color: var(--color-pink-500) !important;
  color: var(--color-black);
}

.bg-pink-700 {
  background-color: var(--color-pink-700) !important;
  color: var(--color-white);
}

.bg-pink-900 {
  background-color: var(--color-pink-900) !important;
  color: var(--color-white);
}

.bg-rose-300 {
  background-color: var(--color-rose-300) !important;
  color: var(--color-black);
}

.bg-rose-500 {
  background-color: var(--color-rose-500) !important;
  color: var(--color-black);
}

.bg-rose-700 {
  background-color: var(--color-rose-700) !important;
  color: var(--color-white);
}

.bg-rose-900 {
  background-color: var(--color-rose-900) !important;
  color: var(--color-white);
}

.bg-red-300 {
  background-color: var(--color-red-300) !important;
  color: var(--color-black);
}

.bg-red-500 {
  background-color: var(--color-red-500) !important;
  color: var(--color-black);
}

.bg-red-700 {
  background-color: var(--color-red-700) !important;
  color: var(--color-white);
}

.bg-red-900 {
  background-color: var(--color-red-900) !important;
  color: var(--color-white);
}

.bg-orange-300 {
  background-color: var(--color-orange-300) !important;
  color: var(--color-black);
}

.bg-orange-500 {
  background-color: var(--color-orange-500) !important;
  color: var(--color-black);
}

.bg-orange-700 {
  background-color: var(--color-orange-700) !important;
  color: var(--color-white);
}

.bg-orange-900 {
  background-color: var(--color-orange-900) !important;
  color: var(--color-white);
}

.bg-yellow-300 {
  background-color: var(--color-yellow-300) !important;
  color: var(--color-black);
}

.bg-yellow-500 {
  background-color: var(--color-yellow-500) !important;
  color: var(--color-black);
}

.bg-yellow-700 {
  background-color: var(--color-yellow-700) !important;
  color: var(--color-white);
}

.bg-yellow-900 {
  background-color: var(--color-yellow-900) !important;
  color: var(--color-white);
}

.bg-lime-300 {
  background-color: var(--color-lime-300) !important;
  color: var(--color-black);
}

.bg-lime-500 {
  background-color: var(--color-lime-500) !important;
  color: var(--color-black);
}

.bg-lime-700 {
  background-color: var(--color-lime-700) !important;
  color: var(--color-white);
}

.bg-lime-900 {
  background-color: var(--color-lime-900) !important;
  color: var(--color-white);
}

.bg-green-300 {
  background-color: var(--color-green-300) !important;
  color: var(--color-black);
}

.bg-green-500 {
  background-color: var(--color-green-500) !important;
  color: var(--color-black);
}

.bg-green-700 {
  background-color: var(--color-green-700) !important;
  color: var(--color-white);
}

.bg-green-900 {
  background-color: var(--color-green-900) !important;
  color: var(--color-white);
}

.bg-emerald-300 {
  background-color: var(--color-emerald-300) !important;
  color: var(--color-black);
}

.bg-emerald-500 {
  background-color: var(--color-emerald-500) !important;
  color: var(--color-black);
}

.bg-emerald-700 {
  background-color: var(--color-emerald-700) !important;
  color: var(--color-white);
}

.bg-emerald-900 {
  background-color: var(--color-emerald-900) !important;
  color: var(--color-white);
}

.bg-teal-300 {
  background-color: var(--color-teal-300) !important;
  color: var(--color-black);
}

.bg-teal-500 {
  background-color: var(--color-teal-500) !important;
  color: var(--color-black);
}

.bg-teal-700 {
  background-color: var(--color-teal-700) !important;
  color: var(--color-white);
}

.bg-teal-900 {
  background-color: var(--color-teal-900) !important;
  color: var(--color-white);
}

.bg-cyan-300 {
  background-color: var(--color-cyan-300) !important;
  color: var(--color-black);
}

.bg-cyan-500 {
  background-color: var(--color-cyan-500) !important;
  color: var(--color-black);
}

.bg-cyan-700 {
  background-color: var(--color-cyan-700) !important;
  color: var(--color-white);
}

.bg-cyan-900 {
  background-color: var(--color-cyan-900) !important;
  color: var(--color-white);
}

.bg-blue-300 {
  background-color: var(--color-blue-300) !important;
  color: var(--color-black);
}

.bg-blue-500 {
  background-color: var(--color-blue-500) !important;
  color: var(--color-black);
}

.bg-blue-700 {
  background-color: var(--color-blue-700) !important;
  color: var(--color-white);
}

.bg-blue-900 {
  background-color: var(--color-blue-900) !important;
  color: var(--color-white);
}

.bg-indigo-300 {
  background-color: var(--color-indigo-300) !important;
  color: var(--color-black);
}

.bg-indigo-500 {
  background-color: var(--color-indigo-500) !important;
  color: var(--color-black);
}

.bg-indigo-700 {
  background-color: var(--color-indigo-700) !important;
  color: var(--color-white);
}

.bg-indigo-900 {
  background-color: var(--color-indigo-900) !important;
  color: var(--color-white);
}

.bg-purple-300 {
  background-color: var(--color-purple-300) !important;
  color: var(--color-black);
}

.bg-purple-500 {
  background-color: var(--color-purple-500) !important;
  color: var(--color-black);
}

.bg-purple-700 {
  background-color: var(--color-purple-700) !important;
  color: var(--color-white);
}

.bg-purple-900 {
  background-color: var(--color-purple-900) !important;
  color: var(--color-white);
}

.bg-fuchsia-300 {
  background-color: var(--color-fuchsia-300) !important;
  color: var(--color-black);
}

.bg-fuchsia-500 {
  background-color: var(--color-fuchsia-500) !important;
  color: var(--color-black);
}

.bg-fuchsia-700 {
  background-color: var(--color-fuchsia-700) !important;
  color: var(--color-white);
}

.bg-fuchsia-900 {
  background-color: var(--color-fuchsia-900) !important;
  color: var(--color-white);
}

.bg-gray-300 {
  background-color: var(--color-gray-300) !important;
  color: var(--color-black);
}

.bg-gray-500 {
  background-color: var(--color-gray-500) !important;
  color: var(--color-white);
}

.bg-gray-700 {
  background-color: var(--color-gray-700) !important;
  color: var(--color-white);
}

.bg-gray-900 {
  background-color: var(--color-gray-900) !important;
  color: var(--color-white);
}

/* FONT COLOR */

.color-black {
  color: var(--color-black) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.color-pink-300 {
  color: var(--color-pink-300) !important;
}

.color-pink-500 {
  color: var(--color-pink-500) !important;
}

.color-pink-700 {
  color: var(--color-pink-700) !important;
}

.color-pink-900 {
  color: var(--color-pink-900) !important;
}

.color-rose-300 {
  color: var(--color-rose-300) !important;
}

.color-rose-500 {
  color: var(--color-rose-500) !important;
}

.color-rose-700 {
  color: var(--color-rose-700) !important;
}

.color-rose-900 {
  color: var(--color-rose-900) !important;
}

.color-red-300 {
  color: var(--color-red-300) !important;
}

.color-red-500 {
  color: var(--color-red-500) !important;
}

.color-red-700 {
  color: var(--color-red-700) !important;
}

.color-red-900 {
  color: var(--color-red-900) !important;
}

.color-orange-300 {
  color: var(--color-orange-300) !important;
}

.color-orange-500 {
  color: var(--color-orange-500) !important;
}

.color-orange-700 {
  color: var(--color-orange-700) !important;
}

.color-orange-900 {
  color: var(--color-orange-900) !important;
}

.color-yellow-300 {
  color: var(--color-yellow-300) !important;
}

.color-yellow-500 {
  color: var(--color-yellow-500) !important;
}

.color-yellow-700 {
  color: var(--color-yellow-700) !important;
}

.color-yellow-900 {
  color: var(--color-yellow-900) !important;
}

.color-lime-300 {
  color: var(--color-lime-300) !important;
}

.color-lime-500 {
  color: var(--color-lime-500) !important;
}

.color-lime-700 {
  color: var(--color-lime-700) !important;
}

.color-lime-900 {
  color: var(--color-lime-900) !important;
}

.color-green-300 {
  color: var(--color-green-300) !important;
}

.color-green-500 {
  color: var(--color-green-500) !important;
}

.color-green-700 {
  color: var(--color-green-700) !important;
}

.color-green-900 {
  color: var(--color-green-900) !important;
}

.color-emerald-300 {
  color: var(--color-emerald-300) !important;
}

.color-emerald-500 {
  color: var(--color-emerald-500) !important;
}

.color-emerald-700 {
  color: var(--color-emerald-700) !important;
}

.color-emerald-900 {
  color: var(--color-emerald-900) !important;
}

.color-teal-300 {
  color: var(--color-teal-300) !important;
}

.color-teal-500 {
  color: var(--color-teal-500) !important;
}

.color-teal-700 {
  color: var(--color-teal-700) !important;
}

.color-teal-900 {
  color: var(--color-teal-900) !important;
}

.color-cyan-300 {
  color: var(--color-cyan-300) !important;
}

.color-cyan-500 {
  color: var(--color-cyan-500) !important;
}

.color-cyan-700 {
  color: var(--color-cyan-700) !important;
}

.color-cyan-900 {
  color: var(--color-cyan-900) !important;
}

.color-blue-300 {
  color: var(--color-blue-300) !important;
}

.color-blue-500 {
  color: var(--color-blue-500) !important;
}

.color-blue-700 {
  color: var(--color-blue-700) !important;
}

.color-blue-900 {
  color: var(--color-blue-900) !important;
}

.color-indigo-300 {
  color: var(--color-indigo-300) !important;
}

.color-indigo-500 {
  color: var(--color-indigo-500) !important;
}

.color-indigo-700 {
  color: var(--color-indigo-700) !important;
}

.color-indigo-900 {
  color: var(--color-indigo-900) !important;
}

.color-purple-300 {
  color: var(--color-purple-300) !important;
}

.color-purple-500 {
  color: var(--color-purple-500) !important;
}

.color-purple-700 {
  color: var(--color-purple-700) !important;
}

.color-purple-900 {
  color: var(--color-purple-900) !important;
}

.color-fuchsia-300 {
  color: var(--color-fuchsia-300) !important;
}

.color-fuchsia-500 {
  color: var(--color-fuchsia-500) !important;
}

.color-fuchsia-700 {
  color: var(--color-fuchsia-700) !important;
}

.color-fuchsia-900 {
  color: var(--color-fuchsia-900) !important;
}

.color-gray-300 {
  color: var(--color-gray-300) !important;
}

.color-gray-500 {
  color: var(--color-gray-500) !important;
}

.color-gray-700 {
  color: var(--color-gray-700) !important;
}

.color-gray-900 {
  color: var(--color-gray-900) !important;
}
