.ose.sheet.actor .sheet-tabs {
    font-family: "Oswald", sans-serif !important;
    font-size: 13px;
}

.ose.sheet.actor .sheet-body .attribute-group .attributes .attribute .attribute-name {
    font-family: "Oswald", sans-serif !important;
}

.ose.sheet.actor .sheet-body .attribute-group .attributes .attribute.saving-throw .attribute-name {
    font-family: "Oswald", sans-serif !important;
}

.ose.sheet.actor.character .sheet-body .health .health-value {
    font-family: "Manuskript", serif;
}



.ose.sheet.actor .header-details h1 input {
    font-family: "Manuskript", serif;
}

.ose.sheet.actor.character .sheet-body .exploration .attribute .attribute-name {
    font-family: "Oswald", sans-serif !important;
}

form .form-group label {
    font-family: "Oswald", sans-serif !important;
}

.ose.sheet.actor .sheet-body .attributes .attribute .attribute-name h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif !important;
}

