/* GLOBAL FONTS */

:root {
  --body-serif: "Literata", "Georgia", "Times New Roman", serif;
  --sans-serif: "Roboto", sans-serif;
  --sans-serif-condensed: "Oswald", sans-serif;
  --serif: "Literata", "Georgia", "Times New Roman", serif;
  --serif-condensed: "Oswald", serif;
}

.app.sheet.actor p,
.pf2e p {
  font-weight: normal;
}

/* PLAYER SHEET */

.crb-style aside .sidebar .hitpoints h4,
.crb-style aside .sidebar .hitpoints label {
  font-family: var(--sans-serif);
  font-weight: normal;
}

.crb-style aside .sidebar h4,
.crb-style aside .sidebar label {
  font-size: var(--text-xs);
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style aside .sidebar .difficulty-checks .classdc-rank h4,
.crb-style aside .sidebar ul.sidebar-saves .roll-data .save-rank h4,
.crb-style aside .sidebar .perception-sidebar .perception-rank h4 {
  font-family: var(--sans-serif-condensed);
  font-size: 9px;
  font-weight: normal;
}

.crb-style aside .sidebar .hitpoints .hp-small h4,
.crb-style aside .sidebar .hitpoints .hp-small label {
  font-family: var(--sans-serif-condensed);
}

.crb-style header.char-header .char-level .level label {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style aside .sidebar .armor-class .armor_footer .shield-max label,
.crb-style aside .sidebar .armor-class .armor_footer .shield-status label {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
  font-size: 9px;
}

.crb-style aside .sidebar .armor-class .shield h4,
.crb-style aside .sidebar .armor-class .shield label {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style .sheet-body .sheet-content .character .ability-scores .ability .ability-id {
  font-weight: bold;
  font-size: var(--text-lg);
}

.crb-style aside .sidebar select,
.crb-style select {
  font-family: var(--sans-serif-condensed);
  font-size: var(--text-xs);
}

.crb-style .sheet-body .sheet-content .character .character-details .alignment select {
  font-size: var(--text-xs);
  font-weight: normal;
}

.crb-style .sheet-body .sheet-content footer {
  display: none;
}

.crb-style
  .sheet-body
  .sheet-content
  .actions
  .actions-container
  .actions-tabs-wrapper
  .actions-panels
  .actions-options
  .actions-option
  label
  * {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
  font-size: var(--text-xs);
}

.crb-style .sheet-body .sheet-content .skills .skills-pane .combat-list .skill .skill-name,
.crb-style .sheet-body .sheet-content .skills .skills-pane .lores-list .skill .skill-name,
.crb-style .sheet-body .sheet-content .skills .skills-pane .skills-list .skill .skill-name,
.crb-style .details-label {
  font-size: var(--text-xs);
  font-family: var(--sans-serif-condensed);
}

.crb-style .sheet-body .sheet-content .skills .skills-pane .pf-rank,
.crb-style .sheet-body .sheet-content .skills .skills-pane h6 {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style .sheet-body .sheet-content .feats .action-header h3 {
  padding-top: 0px;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item.inventory-header h3 {
  text-transform: none;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list.focus .skill-grid .skill-container.focus-points h4 {
  font-size: var(--text-xs);
}

.crb-style .sheet-body .sheet-content .spell-list .item .spell-cast button {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
  width: 50px;
}

.crb-style
  .sheet-body
  .sheet-content
  .spellbook
  .spellcasting-entry
  .skills-list.focus
  .skill-grid
  .skill-container.focus-pool
  .focus-pool-input
  h4 {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style .sheet-body .sheet-content .spellbook .spellcasting-entry .skills-list .spell-ability .pf-rank {
  font-family: var(--sans-serif-condensed);
  font-weight: normal;
}

.crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-nav .tab {
  font-family: var(--sans-serif-condensed);
  font-weight: bold;
}

/* NPC SHEET */

.npc .npc-sheet .trait {
  font-size: 10px;
}

.npc .spell-list .item .spell-cast button {
  width: 50px;
}

/* ITEM SHEET */

.pf2e.item.sheet form > article > section.sheet-sidebar .inventory-details label {
  font-weight: 500;
  font-family: var(--sans-serif-condensed);
  font-size: var(--text-xs);
}

.pf2e.item.sheet form > article > section.sheet-body > .tab.active.item-details label {
  font-weight: 500;
}

.pf2e.item.sheet form .form-group > label:not(.large) {
  max-width: 170px;
}

/* ROLL DIALOG

.dice-checks .window-content .dialog-row .exclude.toggle:before {
    content: "ВКЛ";
}

.dice-checks .window-content .dialog-row .exclude.toggle:after {
    content: "ВЫКЛ";
}

 */

/* OTHER */
