.crb-style {
    font-family: "PT Serif", serif;
}

.crb-style .sheet-body .sheet-content .directory-list>li>h3 {
    font-family: "PT Serif", serif;
}

.crb-style aside .sidebar ul.sidebar-saves .roll-data .save-rank h4 {
    font-family: "Oswald", sans-serif;
}

.crb-style .sheet-body .sheet-content .character .ability-scores .ability .ability-id {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 20px;
}

.crb-style aside .sidebar select {
    font-family: "PT Serif", serif;
    font-size: 14px;
}

.crb-style .sheet-body .sheet-content .skills .skills-pane .pf-rank, .crb-style .sheet-body .sheet-content .skills .skills-pane h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .hitpoints h4, .crb-style aside .sidebar .hitpoints label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .perception-sidebar .perception-rank h4 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .armor-class .shield h4, .crb-style aside .sidebar .armor-class .shield label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .difficulty-checks .classdc-rank h4 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .character .character-details .alignment select {
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    font-weight: normal;
}

.crb-style header.char-header .char-level .level label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content footer {
    display: none;
}

.crb-style input, .crb-style label, .crb-style select {
    font-size: 12px;
}

.crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-nav .tab {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-name {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-score {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item.inventory-header h3 {
    text-transform: none;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-container h4 {
    font-family: "Oswald", sans-serif;
    letter-spacing: .2px;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list.focus .skill-grid .skill-container.focus-points h4 {
    font-size: 10px;
}

#pause {
    font-family: "PT Serif", serif;
    font-weight: bold;
}