/* PLAYER SHEET */

.crb-style {
    font-family: "PT Serif", serif;
}

.crb-style .sheet-body .sheet-content .directory-list>li>h3 {
    font-family: "PT Serif", serif;
}

.crb-style aside .sidebar ul.sidebar-saves .roll-data .save-rank h4 {
    font-family: "Oswald", sans-serif;
}

.crb-style .sheet-body .sheet-content .character .ability-scores .ability .ability-id {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 20px;
}

.crb-style aside .sidebar select {
    font-family: "PT Serif", serif;
    font-size: 14px;
}

.crb-style .sheet-body .sheet-content .skills .skills-pane .pf-rank, .crb-style .sheet-body .sheet-content .skills .skills-pane h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .hitpoints h4, .crb-style aside .sidebar .hitpoints label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .perception-sidebar .perception-rank h4 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .armor-class .shield h4, .crb-style aside .sidebar .armor-class .shield label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style aside .sidebar .difficulty-checks .classdc-rank h4 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .character .character-details .alignment select {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.crb-style header.char-header .char-level .level label {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content footer {
    display: none;
}

.crb-style input, .crb-style label, .crb-style select {
    font-size: 13px;
    font-family: "Oswald", sans-serif;
}

.crb-style .sheet-body .sheet-content .actions .actions-container .actions-tabs-wrapper .actions-nav .tab {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-name {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-score {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item.inventory-header h3 {
    text-transform: none;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list .skill-grid .skill-container h4 {
    font-family: "Oswald", sans-serif;
    letter-spacing: .2px;
    font-weight: normal;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item .spell-school, .crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item {
    font-family: "Oswald", sans-serif;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .inventory-list .item .item-name h4 {
    font-family: "PT Serif", serif;
}

.crb-style .sheet-body .sheet-content .spellbook .directory-list .item .skills-list.focus .skill-grid .skill-container.focus-points h4 {
    font-size: 10px;
}

.pf2e.sheet .sheet-header h1>input {
    font-family: "PT Serif", serif;
    font-weight: bold;
}

.pf2e.item.sheet form>article>section.sheet-sidebar .item-summary {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.crb-style .sheet-body .sheet-content .spell-list .item .spell-cast button {
    width: 50px;
}

/* NPC SHEET */

.npc .npc-sheet .side-bar {
    font-family: "Roboto", sans-serif;
}

.npc .npc-sheet .npc-sheet-header #name .level-container .level-label {
    font-family: "Roboto", sans-serif;
}

.npc .npc-sheet .npc-sheet-header #name .name-value {
    font-family: "Roboto", sans-serif;
}

.npc .npc-sheet .trait {
    font-size: 10px;
}

.npc .spell-list .item .spell-cast button {
    width: 50px;
}

.npc .npc-sheet .entries-list .spellcasting-entry .header {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

.npc .npc-sheet .entries-list .spellcasting-entry .header .item-controls .spellcasting-remove {
    font-size: 10px;
}

/* OTHER */

#pause {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}