@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* FOUNDRY */

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.nodesto {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

#chat-log .message {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.chat-message .message-header .flavor-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#chat-log .card-header {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#chat-log .message .message-header .message-sender {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

#chat-form textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
  max-width: 200px !important;
}
