:root {
  --font-sans: "Inter", "Arial", sans-serif;
  --font-sans-condensed: "Oswald", "Inter Condensed", sans-serif;
  --font-serif: "PT Serif", "Georgia", "Times New Roman", serif;
  --font-fantasy: "Manuskript", "Papyrus", fantasy;
  --font-mono: "Roboto Mono", "Consolas", "Courier New", monospace;
  --font-cursive: "Marck Script", "Lucida Handwriting", cursive;
  --font-sci-fi: "OCR-A", monospace;

  --text-xs: 0.7rem;
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;

  --color-black: #000000;
  --color-white: #ffffff;
}

/* CYRILLIC FONTS  */

/* INTER  */

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* MISC  */

@font-face {
  font-family: "Manuskript";
  src: url("../fonts/manuskriptantd-reg.ttf") format("truetype");
}

/* OSWALD  */

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* PT Serif  */

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Beaufort";
  src: url("../fonts/Beaufort-Regular.ttf");
}

@font-face {
  font-family: "Beaufort";
  src: url("../fonts/Beaufort-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Beaufort";
  src: url("../fonts/Beaufort-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "OCR-A";
  src: url("../fonts/ocra_cyr.otf") format("opentype");
}

@font-face {
  font-family: "GWENT";
  src: url("../fonts/hinted-GWENT-ExtraBold.ttf") format("truetype");
}

/* REPLACEMENTS  */

@font-face {
  font-family: "Signika";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Modesto Condensed";
  src: url("../fonts/Nodesto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Modesto Condensed";
  src: url("../fonts/Nodesto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Marck Script";
  src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nodesto";
  src: url("../fonts/Oswald.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Primitive";
  src: url("../fonts/manuskriptantd-reg.ttf") format("truetype");
}

@font-face {
  font-family: "Fondamento";
  src: url("../fonts/Beaufort-Medium.ttf");
}

@font-face {
  font-family: "Jim Nightshade";
  src: url("../fonts/MarckScript-Regular.ttf") format("truetype");
}

/* FOUNDRY */

body {
  font-family: var(--font-sans);
}

button {
  font-family: var(--font-sans-condensed);
}

select {
  font-family: var(--font-sans-condensed);
}

form .form-group label {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  line-height: 22px;
  font-weight: 500;
}

.tabs .item {
  font-family: var(--font-sans-condensed);
}

a.entity-link {
  padding: 1px 3px !important;
  line-height: 22px !important;
}

li a.entity-link {
  padding: 1px 3px !important;
  line-height: 24px !important;
}

.package-list .package .package-controls button {
  width: 130px;
  font-family: var(--font-sans-condensed);
  font-size: var(--text-sm);
  line-height: 20px;
}

.updated-packages-table th.action,
.updated-packages-table td.action {
  font-family: var(--font-sans-condensed);
}

.nodesto {
  font-family: "Modesto Condensed";
  font-weight: 400 !important;
}

.journal-sheet .editor-content {
  font-size: var(--text-base);
}

.directory .directory-list .directory-item {
  font-size: var(--text-sm);
}

.active-effect-sheet .effects-header {
  font-family: var(--font-sans-condensed);
  font-size: var(--text-xs);
}

/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
  max-width: 200px;
}

.monks-tokenbar.chat-card .card-header h3 {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-serif);
}

.encounter-cr {
  font-family: var(--font-sans-condensed);
}

.request-roll {
  font-family: var(--font-sans-condensed);
}

.monks-tokenbar .sheet .items-list .items-header h3 {
  font-family: var(--font-sans-condensed);
}

.storyteller-tooltip {
  font-family: var(--font-serif);
}
