@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}

@font-face {
    font-family: "Manuskript";
    src: url("../fonts/manuskriptantd-reg.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
}

@font-face {
    font-family: "PT Serif";
    src: url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}


/* FOUNDRY */

.nodesto {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.tabs .item {
    font-family: "Oswald", sans-serif;
}

body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

button {
    font-family: "Oswald", sans-serif;
}

.package-list .package .package-controls button {
    width: 130px;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    line-height: 20px;
}


/* MODULES */

.compendium-browser .spell-browser .spell .spell-tags {
    max-width: 200px;
}

.monks-tokenbar.chat-card .card-header h3 {
    font-family: "Oswald", sans-serif;
}

.monks-tokenbar .sheet .items-list .items-header h3 {
    font-family: "PT Serif", serif;
}

.encounter-cr {
    font-family: "Oswald", sans-serif;
}

.request-roll {
    font-family: "Oswald", sans-serif;
}

.monks-tokenbar .sheet .items-list .items-header h3 {
    font-family: "Oswald", sans-serif;
}