.sta.sheet.actor,
.sta.sheet.item,
.sta.tracker-container .tracker .header,
.dice-roll .dice-formula,
.dice-roll .dice-total {
  font-family: var(--font-sans-condensed);
}
.sta.sheet.actor .main .row .column .section .title {
  font-size: 15pt;
}

.sta.sheet.actor .track .bar .box {
  height: auto;
}

.sta.sheet.actor .track .bar .box.stress,
.sta.sheet.actor .track .bar .box.shields,
.sta.sheet.actor .track .bar .box.shields.selected {
  border-color: #000000;
}

.sta.sheet.actor .track .bar .box.rep.selected,
.sta.sheet.actor .track .bar .box.determination.selected,
.sta.sheet.actor .track .bar .box.power.selected {
  background-color: #ffcc33;
  border-color: #000000;
}
