/* Savage Worlds Adventure Edition */

.swade-official {
  --section-header-font: "Oswald", sans-serif !important;
}


.swade-official .tabs .item{
  font-family: "Oswald", sans-serif !important;
  font-weight: bold;
}
