.tor2e.sheet.actor h2 {
  font-family: "GWENT", sans-serif;
}

.section-title {
  font-size: var(--text-base);
  margin-top: 0.3rem;
}

.main-stat,
.tor2e.sheet.actor h4,
.tor2e.sheet.actor .attribute-label,
.sheet header.sheet-header h1 input {
  font-family: "Beaufort", sans-serif;
}

.tertiary-stat label,
.secondary-stat label,
.primary-stat label {
  font-size: var(--text-xs) !important;
  left: 1em !important;
  top: -2.6em !important;
}
