.gear-header,
.gear,
.item-title-short,
span.add-skill-txt,
.sheet nav.sheet-tabs,
.skill-container,
.item-title,
span.stat-name,
span.special-name {
  font-family: var(--font-family-sans-serif-condensed);
}

.item-title {
  font-weight: bold !important;
}

span.stat-name {
  font-size: 15px !important;
  top: -1.3em;
}

span.special-name {
  font-size: 15px !important;
  top: -1.3em;
}
