@font-face {
  font-family: "Asap";
  src: url("../fonts/Inter.ttf") format("truetype") !important;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Asap";
  src: url("../fonts/Inter.ttf") format("truetype") !important;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Asap-Italic";
  src: url("../fonts/Inter.ttf") format("truetype") !important;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Asap-Italic";
  src: url("../fonts/Inter.ttf") format("truetype") !important;
  font-weight: bold;
  font-style: italic;
}

label,
.window-content,
.gear-header,
.gear,
.item-title-short,
span.add-skill-txt,
.sheet nav.sheet-tabs,
.skill-container,
.item-title,
.item-name,
span.stat-name,
span.special-name,
.window-header a,
span.stat-name {
  font-family: var(--font-sans-condensed);
}

.power-current input[type="number"],
.power-total input[type="number"],
.ship-stat input[type="number"],
.ship-stat-finance input[type="number"] {
  margin-top: 0px;
}

.ship-power {
  margin-top: -1.45em;
}

.ship-power label {
  font-size: 16px;
  top: -1.1em;
}

span.power-now {
  top: -2em;
}

span.power-max {
  top: -5.5em;
}

input.power-current {
  font-size: 16px;
  top: -1.65em;
}

input.power-total {
  font-size: 16px;
  top: -1.2em;
}

span.stat-name {
  top: -1.3em;
}

span.stat-ability,
span.stat-modifier {
  top: -1.5em;
}

.ship-armor-name textarea {
  font-size: 20px;
  min-height: none;
  max-height: 20px;
}

.item-name {
  font-size: 12px;
}

.item-create {
  margin-left: 2px;
}
