:root {
      --window-header-title-font-family: "PT Serif", serif !important;
      --window-header-title-font-size: 16px;
  
      --major-button-font-family: "PT Serif", serif !important;
      --major-button-font-size: 18px;
  
      --tab-header-font-family: "PT Serif", serif !important;
      --tab-header-font-size: 13px;
      --tab-header-font-weight: 700;
  
      --actor-input-font-family: "PT Serif", serif !important;
      --actor-input-font-size: 12px;
      --actor-input-font-weight: 500;
  
      --actor-label-font-family: "PT Serif", serif !important;
      --actor-label-font-size: 13px;
      --actor-label-font-weight: 700;
}

.chargen-button {
	font-family: "PT Serif", serif !important;
	font-size: 12px !important;
}