@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/manuskriptantd-reg.ttf");
}

@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/manuskriptantd-reg.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "CaslonPro";
  src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CaslonPro";
  src: url("../fonts/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CaslonPro";
  src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CaslonPro";
  src: url("../fonts/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --window-header-title-font-family: "Manuskript", serif;
  --window-header-title-font-size: 16px;
  --major-button-font-family: "Manuskript", serif;
  --major-button-font-size: 18px;
  --tab-header-font-family: "Manuskript", serif;
  --tab-header-font-size: var(--text-xs);
  --actor-input-font-family: "PT Serif", serif;
  --actor-input-font-size: var(--text-xs);
  --actor-label-font-family: "Manuskript", serif;
  --actor-label-font-size: var(--text-xs);
}

.app.window-app.sheet.wfrp4e.actor.character-sheet
  .tab.main.active
  .characteristics-table
  .row-type.table-data
  .header-block {
  font-size: 11px;
}

#tinymce .mce-content-body h1,
.app.window-app .editor .editor-content h1 {
  font-family: var(--font-fantasy);
}

#tinymce .mce-content-body h2,
.app.window-app .editor .editor-content h2 {
  font-family: var(--font-fantasy);
}

#tinymce .mce-content-body h3,
.app.window-app .editor .editor-content h3 {
  font-family: var(--font-fantasy);
}

.sidebar-tab .directory-footer button,
#macros .directory-footer button,
#macros .directory-footer button,
#sidebar button,
#sidebar .header-actions button {
  font-family: var(--font-fantasy);
}

#combat-popout #combat-round,
#sidebar #combat #combat-round {
  font-family: var(--font-fantasy);
}

#combat-popout #combat-controls a,
#sidebar #combat #combat-controls a {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet .item-header input[type="text"],
input[type="password"] {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet .item-details .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet .tab .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet.career-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.disease-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.talent-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.injury-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.injury-sheet .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet.mutation-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.creature-trait-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.creature-trait-sheet .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet.prayer-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.prayer-sheet .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet.skill-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.skill-sheet .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.item-sheet.spell-sheet .sheet-tabs {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.item-sheet.spell-sheet .label-text {
  font-family: var(--font-fantasy);
  font-size: var(--text-sm);
}

.app.window-app.sheet.wfrp4e.actor
  .tab.religion.active
  .religion-box-1
  .blessed-label {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.wfrp4e.actor
  .tab.religion.active
  .religion-box-2
  .sin-label {
  font-family: var(--font-fantasy);
}

.wfrp4e.actor .randomize-buttons .randomize-label {
  font-family: var(--font-fantasy);
  font-size: 10px;
}

#client-settings .window-content form h2 {
  font-family: var(--font-fantasy);
}

#client-settings .window-content button {
  font-family: var(--font-fantasy);
}

#controls-reference h3 {
  font-family: var(--font-fantasy);
}

.window-app.app.journal-sheet .window-content input[name="name"],
.window-app.app.journal-sheet .window-content input[name="title"] {
  font-family: var(--font-fantasy);
}

#menu {
  font-family: var(--font-fantasy);
}

.wfrp4e.item-sheet .condition-value,
.wfrp4e.actor .condition-value {
  font-family: var(--font-fantasy);
}

#calendar-settings .window-content h1 {
  font-family: var(--font-fantasy);
}

#calendar-settings .window-content h2 {
  font-family: var(--font-fantasy);
}

.forien-quest-preview h1,
#forien-quest-log h1,
.calendar-form-container h1 {
  font-family: var(--font-fantasy);
}

#dice-config h2,
.forien-quest-preview h2,
#forien-quest-log-form h2,
#forien-quest-log h2,
.calendar-form-container h2 {
  font-family: var(--font-fantasy);
}

#drawing-config h3,
#dd-importer h3,
.calendar-form-container h3 {
  font-family: var(--font-fantasy);
}

#chat-log .message {
  font-family: var(--font-serif);
}

#chat-log .message .message-header {
  font-family: var(--font-serif);
}

#chat-log .message .message-header .message-metadata {
  font-family: var(--font-serif);
}

#sidebar .sidebar-tab #chat-controls .roll-type-select {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .item-details > li > * {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .item-details .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .item-details .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .tab .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .tab .input-text {
  font-family: var(--font-serif);
}

.app.window-app.wfrp4e.actor.vehicle-sheet select,
.app.window-app.sheet.item-sheet .tab .form-group > select {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .tab .form-group .item-checkbox {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet .tab .form-group-stacked .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.career-sheet #characteristics-table {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.career-sheet #characteristics-table th {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.disease-sheet .tab .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.talent-sheet .tab .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.injury-sheet .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.injury-sheet .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.creature-trait-sheet .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.creature-trait-sheet .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.prayer-sheet .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.prayer-sheet .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.skill-sheet .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.skill-sheet .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.spell-sheet .input-box {
  font-family: var(--font-serif);
}

.app.window-app.sheet.item-sheet.spell-sheet .input-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.wfrp4e.actor
  .tab.religion.active
  .religion-box-1
  .blessed-input
  > input {
  font-family: var(--font-serif);
}

.app.window-app.sheet.wfrp4e.actor
  .tab.religion.active
  .religion-box-2
  .sin-input
  > input {
  font-family: var(--font-serif);
}

.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-header .encumbrance-label,
.wfrp4e .tab.inventory.active .encumbrance-header .encumbrance-label {
  font-family: var(--font-serif);
}

.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-header .encumbrance-max,
.wfrp4e .tab.inventory.active .encumbrance-header .encumbrance-max {
  font-family: var(--font-serif);
}

.wfrp4e .tab.inventory.active .encumbrance-header .encumbrance-max.input {
  font-family: var(--font-serif);
}

.app.window-app.sheet.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-text,
.app.window-app.sheet.wfrp4e.actor .tab.inventory.active .encumbrance-text {
  font-family: var(--font-serif);
}

.app.window-app.sheet.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-bar,
.app.window-app.sheet.wfrp4e.actor .tab.inventory.active .encumbrance-bar {
  font-family: var(--font-serif);
}

.wfrp4e.actor .randomize-buttons {
  font-family: var(--font-serif);
}

.wfrp4e.actor .randomize-buttons .randomize {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-skills {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-lists .label {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-talents {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-traits {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-mutations {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-psychology {
  font-family: var(--font-serif);
}

.wfrp4e.creature-sheet .creature-diseases,
.wfrp4e.creature-sheet .creature-injuries {
  font-family: var(--font-serif);
}

#players {
  font-family: var(--font-serif);
}

#navigation #nav-toggle {
  font-family: var(--font-serif);
}

#navigation #scene-list .scene.nav-item {
  font-family: var(--font-serif);
}

#client-settings .window-content form .form-group {
  font-family: var(--font-serif);
}

#client-settings .window-content form .form-group select {
  font-family: var(--font-serif);
}

.system-wfrp4e .dice-so-nice .sfxs-list select {
  font-family: var(--font-serif);
}

.window-app.dialog.weapon-roll-dialog .window-content,
.window-app.dialog.skill-roll-dialog .window-content,
.window-app.dialog.spell-roll-dialog .window-content,
.window-app.dialog.prayer-roll-dialog .window-content,
.window-app.dialog.channel-roll-dialog .window-content,
.window-app.dialog.characteristic-roll-dialog .window-content {
  font-family: var(--font-serif);
}

.app.window-app.sheet.wfrp4e.actor .main-row .wounds.row-section .top.label {
  padding: 5px 0px 0px 0px;
}

.window-app.app.image-popout .window-content {
  font-family: var(--font-serif);
}

.window-app.app.journal-sheet .window-content {
  font-family: var(--font-serif);
}

.window-app.app.journal-sheet .window-content form button[type="submit"] {
  font-family: var(--font-serif);
}

.window-app.journal-sheet.image-popout .form-group button {
  font-family: var(--font-serif);
}

#hotbar {
  font-family: var(--font-serif);
}

.window-app.dialog.cast-channel .window-header .window-title {
  font-family: var(--font-serif);
}

.window-app.dialog.cast-channel .window-content {
  font-family: var(--font-serif);
}

.window-app.dialog.cast-channel .dialog-buttons button {
  font-family: var(--font-serif);
}

.apply-effect,
.invoke-effect,
.condition-script,
.overcast-button,
.prayer-extension-button,
.chargen-button {
  font-family: var(--font-serif);
  font-size: var(--text-xs);
}

#chat-log .message.whisper {
  font-family: var(--font-serif);
}

#chat-log .message.whisper.blind {
  font-family: var(--font-serif);
}

#module-management .window-content .directory-list.package-list .package {
  font-family: var(--font-serif);
}

#chat-bubbles {
  font-family: var(--font-serif);
  font-size: var(--text-sm);
  font-weight: normal;
}

.chat-card-button {
  font-family: var(--font-serif);
}

#calendar-settings .window-content form {
  font-family: var(--font-serif);
}

#calendar-settings .window-content form > div {
  font-family: var(--font-serif);
}

#calendar-settings .window-content form select,
#calendar-settings .window-content form input {
  font-family: var(--font-serif);
}

#calendar {
  font-family: var(--font-serif);
}

#calendar-weather-container {
  font-family: var(--font-serif);
}

#calendar-weather-climate {
  font-family: var(--font-serif);
}

.sidebar-tab .directory-footer button,
#macros .directory-footer button,
#macros .directory-footer button,
#sidebar button,
#sidebar .header-actions button {
  font-size: 17px;
}

#combat-popout #combat-round .encounters h3,
#sidebar #combat #combat-round .encounters h3 {
  font-size: 18px;
  padding: 4px;
}

.app.window-app.sheet.wfrp4e.actor
  .tab.talents.active
  .inventory-header.talent-header
  #times-taken {
  width: 60px;
}

.tabs .item {
  font-family: var(--font-fantasy);
}

.app.window-app.sheet.wfrp4e.actor.character-sheet
  .tab.main.active
  .characteristics-table
  .row-type.table-data {
  padding: 5px 0px 0px 0px;
  max-width: 14%;
  min-width: max(80px, 14%);
}

.app.window-app.sheet.wfrp4e.actor.character-sheet
  .tab.main.active
  .characteristics-table
  .table-header.table-row
  .table-header:first-of-type {
  max-width: 14%;
  min-width: max(80px, 14%);
}

.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-header .encumbrance-label,
.wfrp4e .tab.inventory.active .encumbrance-header .encumbrance-label,
.wfrp4e.actor.vehicle-sheet .tab.cargo .encumbrance-header .encumbrance-max,
.wfrp4e .tab.inventory.active .encumbrance-header .encumbrance-max {
  padding: 0px;
  padding-top: 0px;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.app.window-app.sheet.item-sheet.skill-sheet .label-text {
  width: 80px;
}

.app.window-app.sheet.wfrp4e.actor.vehicle-sheet
  .cargo
  .container
  .inventory-header.inventory-container
  .column-section,
.app.window-app.sheet.wfrp4e.actor
  .tab.inventory.active
  .inventory-header.inventory-container
  .column-section {
  min-width: 110px;
  max-width: 110px;
}
