/* CORIOLIS */

@font-face {
  font-family: "Nodesto";
  src: url("../fonts/Oswald-Regular.ttf");
}
.nodesto {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Cairo-Bold";
  src: url("../fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Cairo-SemiBold";
  src: url("../fonts/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "Play";
  src: url("../fonts/Oswald-ExtraLight.ttf");
}

.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-category-name {
  font-size: 13px !important;
}

.yzecoriolis.sheet.actor .nav-item-link {
  font-size: 15px;
}
