@font-face {
    font-family: "Nodesto";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    font-weight: 600;
}

.nodesto {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

@font-face {
    font-family: "Cairo";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: "Cairo-Bold";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    font-weight: 700;
}

@font-face {
    font-family: "Cairo-SemiBold";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    font-weight: 600;
}

@font-face {
    font-family: "Play";
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
    font-weight: 300;
}

.yzecoriolis.sheet.actor .sheet-body .gear-list .gear-category-name {
    font-size: 13px !important;
}

.yzecoriolis.sheet.actor .nav-item-link {
    font-size: 15px;
}

.tabs .item {
    font-family: "Oswald", sans-serif !important;
    font-weight: 400 !important;
}